<footer>
    <div class="container">
        <div class="flex">
            <div class="col-m-4">
                <a href="" title="" class="logo"><img src="./assets/img/logo-1.svg" alt=""></a>
                <div class="text txt-xs font-semibold">Wealify is a comprehensive payment platform, providing advanced payment solutions for every business model.</div>
                <a href="" title="" class="btn-more txt-xs font-semibold">Show more</a>
            </div>
            <div class="col-m-2">
                <h4>Product</h4>
                <ul class="link">
                    <li><a href="" title="Virtual Card">Virtual Card</a></li>
                    <li><a href="" title="Wealify Walet">Wealify Walet</a></li>
                    <li><a href="" title="Core API">Core API</a></li>
                </ul>
            </div>
            <div class="col-m-3">
                <h4>company</h4>
                <ul class="link">
                    <li><a href="" title="About Us">About Us</a></li>
                    <li><a href="" title="Career opportunities">Career opportunities</a></li>
                    <li><a href="" title="Partnership program">Partnership program</a></li>
                    <li><a href="" title="Newsroom">Newsroom</a></li>
                </ul>
            </div>
            <div class="col-m-2">
                <h4>support</h4>
                <ul class="link">
                    <li><a href="" title="FAQ">FAQ</a></li>
                    <li><a href="" title="Contact Us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-m-2">
                <h4>connect</h4>
                <div class="social flex">
                    <a href="" title="" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="" title="" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="" title="" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container flex">
            <ul class="menu txt-xs font-semibold flex">
                <li><a href="" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="" title="Terms & Conditions">Terms & Conditions</a></li>
                <li><a href="" title="Policies">Policies</a></li>
            </ul>
            <div class="copyright txt-xs font-semibold">© Wealify 2023. All rights reserved.</div>
        </div>
    </div>
</footer>