<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/wealify-v2/build/home" class="logo"><img src="./assets/img/logo-1.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li>
                        <a href="javascript:;" title="Product">Product</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/wealify-v2/build/virtual-company-card" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-card.svg" alt=""></div>
                                    <div class="info">
                                        <p>Virtrual Company Card</p>
                                        <span>Instantly create multi currency payment card</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/wealify-v2/build/payment" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-payment.svg" alt=""></div>
                                    <div class="info">
                                        <p>Payment to supplier</p>
                                        <span>The last step in the purchase to pay cycle, when your company pays an outside vendor for purchased goods or services</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/wealify-v2/build/company" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-company.svg" alt=""></div>
                                    <div class="info">
                                        <p>Company fomation</p>
                                        <span>Forming a company couldn't be easier</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/wealify-v2/build/wealify-otc-desk" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-desk.svg" alt=""></div>
                                    <div class="info">
                                        <p>Wealify OTC desk</p>
                                        <span>The third method, allowing buyers and sellers to exchange directly</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/wealify-v2/build/about" title="About us">About us</a></li>
                    <li><a href="" title="Rate">Rate</a></li>
                    <li><a href="/wealify-v2/build/coverter" title="Open card">Open card</a></li>
                </ul>
                <div class="login">
                    <div class="login__before flex">
                        <button type="button" class="btn-login txt-xs flex-center">Login</button>
                        <a href="" title="" class="btn-register txt-xs flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

