<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/wealify-v2/build/home" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse">
                <ul class="navbar-nav flex">
                    <li>
                        <a href="javascript:;" title="Product">Product</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-card.svg" alt=""></div>
                                    <div class="info">
                                        <p>Virtrual Company Card</p>
                                        <span>Instantly create multi currency payment card</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-payment.svg" alt=""></div>
                                    <div class="info">
                                        <p>Wealify wallet</p>
                                        <span>Easy top up and withdraw globally</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" title="" class="flex">
                                    <div class="icon"><img src="./assets/img/icon-desk.svg" alt=""></div>
                                    <div class="info">
                                        <p>Core API</p>
                                        <span>Streamline your global payments with our APIs: Accept payments, manage FX, send payouts, and issue virtual cards – all under one hood.</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/wealify-revise/build/converter" title="Converter">Converter</a></li>
                    <li>
                        <a href="javascript:;" title="Company">Company</a>
                        <div class="sub-menu lg">
                            <div class="col-menu">
                                <div class="header">
                                    <h4 class="txt-xs">About wealify</h4>
                                    <p>Learn more about the company</p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="" title="" class="flex">
                                            <div class="icon"><img src="./assets/img/icon-about.svg" alt=""></div>
                                            <div class="info">
                                                <p>About us</p>
                                                <span>A snapshot of wealify</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-menu">
                                <div class="header">
                                    <h4 class="txt-xs">Join us</h4>
                                    <p>Explore opportinities to work together</p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="" title="" class="flex">
                                            <div class="icon"><img src="./assets/img/icon-hand.svg" alt=""></div>
                                            <div class="info">
                                                <p>Partnership program</p>
                                                <span>Explore and join our partnership program</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-menu">
                                <div class="header">
                                    <h4 class="txt-xs">Resources</h4>
                                    <p>Acess to more infomation</p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="" title="" class="flex">
                                            <div class="icon"><img src="./assets/img/icon-newsmode.svg" alt=""></div>
                                            <div class="info">
                                                <p>Newsroom</p>
                                                <span>Latest news on Wealify</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="" class="flex">
                                            <div class="icon"><img src="./assets/img/icon-quiz.svg" alt=""></div>
                                            <div class="info">
                                                <p>FAQ</p>
                                                <span>Answer to common questions</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" title="" class="flex">
                                            <div class="icon"><img src="./assets/img/icon-contact.svg" alt=""></div>
                                            <div class="info">
                                                <p>Support</p>
                                                <span>Connect with our team</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="login">
                    <div class="login__before flex-lc">
                        <a href="" class="btn-login txt-xs flex-center">Login</a>
                        <a href="" title="" class="btn-register txt-xs flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

