<main>
    <div class="wealify-about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/img-about.jpg" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h1 class="title mb-sm" data-aos="fade-up">A snapshot of Wealify</h1>
                        <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">Wealify, a seasoned organization in e-commerce and IT, focuses on developing platforms that simplify global trade for Vietnamese businesses. Using our technology expertise and international experience, we enable expansion and easy interaction with worldwide companies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-drivers">
        <div class="container">
            <div class="header mb-md">
                <h2 class="title text-center">What drives us</h2>
            </div>
            <div class="driver-list" data-aos="fade-up">
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/users.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Customers First</h4>
                    <p class="txt-xs">Our customers are why we are here. Knowing them, keeping them and consistently delivering a superior experience is the only way we can fulfill our mission.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/light.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Obsessive Curiosity</h4>
                    <p class="txt-xs">We always start by asking why and seek to understand. We have a hunger for knowledge, seek challenges that are insatiably interesting and always consider if there are better ideas.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/circles.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Inspire and Be Inspired</h4>
                    <p class="txt-xs">We are a melting pot of cultures and ideas, and we recognise that happy, healthy and highly-functioning teams are inclusive and diverse. We celebrate success, share knowledge, learn and grow together.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/crown.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Intellectual Honesty</h4>
                    <p class="txt-xs">We want to constantly seek the truth, to be open, constructive and transparent, approaching every problem with data and facts, not conjecture and opinion.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/magic.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Craftsmanship</h4>
                    <p class="txt-xs">We are about product and engineering excellence. We create products and solutions with passion, finesse and meticulous attention-to-detail to deliver the best customer experience and outcome.</p>
                </div>
                <div class="item">
                    <div class="icon mb-4"><img src="./assets/img/lighttning.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Make Impact</h4>
                    <p class="txt-xs">The reason we show up every day is our desire to make an impact and create a better world with what we do. We have one purpose in mind - to empower businesses of all sizes to grow without borders and scale the digital economy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-branch pr">
        <div class="container">
            <div class="header mb-md">
                <h2 class="title text-center">Our Global Branch</h2>
            </div>
            <div class="branch-list">
                <div class="branch" data-aos="fade-up">
                    <div class="icon"><img src="./assets/img/usa.svg" alt=""></div>
                    <h4 class="txt-md font-bold">United States</h4>
                    <div class="info txt-xs font-semibold">
                        <p>Office: 2355 STATE ST STE 101, SALEM, OR, 97301, USA</p>
                        <p>Email : <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><img src="./assets/img/hongkong.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Hong Kong</h4>
                    <div class="info txt-xs font-semibold">
                        <p>Office: Unit 1402B 14/F The Belgian Bank building, NOS. 721-725 Nathan Road, Mongkok, Hong Kong</p>
                        <p>Email : <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><img src="./assets/img/sing.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Singapore</h4>
                    <div class="info txt-xs font-semibold">
                        <p>Office: Sophia road #05-12, Peace Center, Singapore 228149</p>
                        <p>Email : <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up">
                    <div class="icon"><img src="./assets/img/vn.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Vietnam</h4>
                    <div class="info txt-xs font-semibold">
                        <p>Office: Ngụy Như Kon Tum, Nhân Chính, Thanh Xuân, Hà Nội</p>
                        <p>Email : <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><img src="./assets/img/estonia.svg" alt=""></div>
                    <h4 class="txt-md font-bold">Estonia</h4>
                    <div class="info txt-xs font-semibold">
                        <p>Office: Harju maakond, Tallinn, Pirita linnaosa, Padriku tee 12/3-4, 11912, Estonia Available from 8:00-18:00</p>
                        <p>Email : <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                    </div>
                </div>
                <div class="branch" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><img src="./assets/img/uk.svg" alt=""></div>
                    <h4 class="txt-md font-bold">UK</h4>
                    <div class="info txt-xs font-semibold">
                        <p>7 Coronation, Dephna House, London, United Kingdom, NW10 7PQ</p>
                        <p>Email : <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-partners pr">
        <div class="container">
            <h2 class="title text-center">Our partners</h2>
            <div class="partner-list" data-aos="fade-up">
                <div class="item">
                    <a href="" title=""><img src="./assets/img/bidv.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/msb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/mb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/fado.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/acb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/vib.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/lionbay.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/vibill.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/burgerprints.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/moneygram.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-join pr">
        <div class="container">
            <div class="flex-center">
                <div class="img-wrapper"><img src="./assets/img/img-screenshot-6.png" alt=""></div>
                <div class="content">
                    <h2 class="title" data-aos="fade-up">Join Wealify</h2>
                    <div class="mt-sm mb-sm txt-sm font-semibold" data-aos="fade-up" data-aos-delay="200">Discover the Wealify's life and explore current opportunities within our teams.</div>
                    <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                        <a href="" title="" class="btn-pr flex-center"><span>Create account</span><i class="icon arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>