<main>
    <div class="wealify-news">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="box-detail">
                        <div class="category mb-3">News</div>
                        <h1 class="page-title mb-3">We're here to empower employees anywhere to make better financial</h1>
                        <time class="txt-xs font-bold mb-4">20 Nov 2023</time>
                        <article class="detail txt-xs font-semibold">
                            <p><img src="./assets/img/img-article.jpg" alt=""></p>
                            <p>
                                <span>We're here to empower employees anywhere to make better financial decisions.</span>
                                <span>Innovative companies today are at the cutting edge of how business gets done. Modern businesses are empowering their teams, automating workflows, digitizing information, and operating globally. They’re doing things differently, inventing new paths, breaking the old way.</span>
                                <span>Everything about companies has changed, but banks have not. The big businesses of the future are acting more like startups, and banks can't build what they need.</span>
                                <span>To empower their employees to make better financial decisions that drive the business forward, these companies need products that enable their new ways of thinking and keep them growing for the long haul.</span>
                                <span>So we’re building a first-of-its-kind solution to integrate the financial services and software they’ll need along their way. While they build the future, we’ll be building everything they need to launch confidently, scale smarter, and reach their full potential.</span>
                            </p>
                            <p>
                                <span>We're here to empower employees anywhere to make better financial decisions.</span>
                                <span>Innovative companies today are at the cutting edge of how business gets done. Modern businesses are empowering their teams, automating workflows, digitizing information, and operating globally. They’re doing things differently, inventing new paths, breaking the old way.</span>
                                <span>Everything about companies has changed, but banks have not. The big businesses of the future are acting more like startups, and banks can't build what they need.</span>
                                <span>To empower their employees to make better financial decisions that drive the business forward, these companies need products that enable their new ways of thinking and keep them growing for the long haul.</span>
                                <span>So we’re building a first-of-its-kind solution to integrate the financial services and software they’ll need along their way. While they build the future, we’ll be building everything they need to launch confidently, scale smarter, and reach their full potential.</span>
                            </p>
                        </article>
                        <div class="flex-lc pt-3 justify-content-between">
                            <div class="tags flex-lc">
                                <h5>tags:</h5>
                                <a href="" title="">News</a>
                                <a href="" title="">Blog</a>
                                <a href="" title="">Payment</a>
                            </div>
                            <div class="share flex-lc">
                                <h5>Share</h5>
                                <div class="social flex-lc">
                                    <a href="" title="" class="fb">facebook</a>
                                    <a href="" title="" class="twitter">twitter</a>
                                    <a href="" title="" class="in">in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="category-list mb-4">
                        <li><a href="" title="All News">All News</a></li>
                        <li><a href="" title="News">News</a></li>
                        <li><a href="" title="Products">Products</a></li>
                        <li><a href="" title="Community">Community</a></li>
                        <li><a href="" title="Company">Company</a></li>
                    </ul>
                    <div class="box-select pr">
                        <div class="selected flex-lc pr">
                            <div class="icon"><img src="./assets/img/vn.svg" width="24" alt=""></div>
                            <div class="name txt-xs font-bold">Vietnam</div>
                        </div>
                        <ul class="select-list">
                            <li data-icon="./assets/img/vn.svg" data-name="Vietnam">
                                <div class="flex-lc">
                                    <img src="./assets/img/vn.svg" alt="">
                                    <span>Vietnam</span>
                                </div>
                            </li>
                            <li data-icon="./assets/img/usa.svg" data-name="USA" class="active">
                                <div class="flex-lc">
                                    <img src="./assets/img/usa.svg" alt="">
                                    <span>USA</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="related-post">
                <h2 class="title text-center">Related Posts</h2>
                <div class="news-list grid">
                    <article>
                        <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-2.jpg" alt=""></a>
                        <div class="category mb-3">News</div>
                        <h3 class="txt-md font-bold mb-2"><a href="" title="">MoneyGram announces new CPO to head up strategic growth</a></h3>
                        <time class="txt-xs font-bold mb-3">12 Dec 2023</time>
                        <p class="txt-xs font-semibold mb-4">MoneyGram International, a prominent global financial technology company known for...</p>
                        <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                    </article>
                    <article>
                        <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-3.jpg" alt=""></a>
                        <div class="category mb-3">News</div>
                        <h3 class="txt-md font-bold mb-2"><a href="" title="">PayU innovates with SDK releases for frictionless digital payments</a></h3>
                        <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                        <p class="txt-xs font-semibold mb-4"><a href="" title="" target="_blank">PayU</a>, the pioneering online payment solutions provider in India, has unveiled three groundbreaking </p>
                        <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                    </article>
                    <article>
                        <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-4.jpg" alt=""></a>
                        <div class="category mb-3">News</div>
                        <h3 class="txt-md font-bold mb-2"><a href="" title="">Mastercard launches CBDC partner programme</a></h3>
                        <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                        <p class="txt-xs font-semibold mb-4"><a href="" title="" target="_blank">Mastercard</a> has launched a new partnership program designed to explore the benefits and...</p>
                        <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>