<main>
    <div class="wealify-career-s1 pr">
        <div class="container">
            <div class="content text-center pr">
                <h1 class="title mb-sm" data-aos="fade-up">Your Wealify journey starts here</h1>
                <div class="text txt-sm" data-aos="fade-up" data-aos-delay="200">
                    <p>As we revolutionize the landscape of business payments, we're transforming the global work experience into a local sensation.</p>
                    <p>Ready to be part of the change?</p>
                </div>
                <div class="box-btn flex-center" data-aos="fade-up" data-aos-delay="400">
                    <a href="" title="" class="btn-pr flex-center"><span>Join our team</span><i class="icon arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-career-s2">
        <div class="container">
            <div class="header mb-md mx-auto">
                <h2 class="title">Discover how we collaborate for success</h2>
            </div>
            <div class="grid">
                <div class="item" data-aos="fade-up">
                    <div class="icon"><img src="./assets/img/shield.svg" alt=""></div>
                    <h4 class="my-4 txt-md font-bold">Embrace responsibility</h4>
                    <p class="txt-xs font-weight-bold">We take accountability for our decisions, achievements, and setbacks. Our problem-solving is grounded in data and facts, promoting thoughtful and deliberate risk-taking that considers all possible outcomes.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><img src="./assets/img/value.svg" alt=""></div>
                    <h4 class="my-4 txt-md font-bold">Optimise for long-term value</h4>
                    <p class="txt-xs font-weight-bold">We consistently make challenging yet strategic decisions that prioritize our long-term success over short-term gains. Our commitment lies in building a company that transcends generations, focusing on enduring value rather than immediate wins.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><img src="./assets/img/growth.svg" alt=""></div>
                    <h4 class="my-4 txt-md font-bold">Mutual Growth</h4>
                    <p class="txt-xs font-weight-bold">Your success is our success. We work collaboratively to contribute to the growth and prosperity. Our partnership is a journey towards achieving shared milestones and objectives.</p>
                </div>
                <div class="item" data-aos="fade-up" data-aos-delay="600">
                    <div class="icon"><img src="./assets/img/comunication.svg" alt=""></div>
                    <h4 class="my-4 txt-md font-bold">Transparent Communication</h4>
                    <p class="txt-xs font-weight-bold">Clear and transparent communication is at the heart of our collaboration. We keep you informed at every step, providing regular updates, progress reports.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-career-s3">
        <div class="container">
            <div class="header mb-md text-center">
                <h2 class="title">Wealify careers start here</h2>
            </div>
            <ul class="job-list">
                <li>
                    <h4 class="txt-md font-bold">Business Development Executive - Sales & Business Development</h4>
                    <a href="" title="" class="txt-xs font-bold">Check it out</a>
                </li>
                <li>
                    <h4 class="txt-md font-bold">Customer Care Associate - Customer Care</h4>
                    <a href="" title="" class="txt-xs font-bold">Check it out</a>
                </li>
                <li>
                    <h4 class="txt-md font-bold">HR Associate - General Administration</h4>
                    <a href="" title="" class="txt-xs font-bold">Check it out</a>
                </li>
                <li>
                    <h4 class="txt-md font-bold">SEO Manager - Marketing</h4>
                    <a href="" title="" class="txt-xs font-bold">Check it out</a>
                </li>
                <li>
                    <h4 class="txt-md font-bold">Business Analyst</h4>
                    <a href="" title="" class="txt-xs font-bold">Check it out</a>
                </li>
                <li>
                    <h4 class="txt-md font-bold">It Developer</h4>
                    <a href="" title="" class="txt-xs font-bold">Check it out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wealify-career-s4 py-lg">
        <div class="container">
            <div class="header mb-md text-center">
                <h2 class="title">Check out our benefits</h2>
            </div>
            <div class="grid">
                <a href="" class="item" data-aos="zoom-in">
                    <img src="./assets/img/catchup.svg" alt="">
                    <p class="txt-xs font-semibold">Catch up day</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="200">
                    <img src="./assets/img/training.svg" alt="">
                    <p class="txt-xs font-semibold">Training Program</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="400">
                    <img src="./assets/img/path.svg" alt="">
                    <p class="txt-xs font-semibold">Career path</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="600">
                    <img src="./assets/img/gift.svg" alt="">
                    <p class="txt-xs font-semibold">Celebration gifts</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="800">
                    <img src="./assets/img/event.svg" alt="">
                    <p class="txt-xs font-semibold">Events and fun</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="1000">
                    <img src="./assets/img/volunteer.svg" alt="">
                    <p class="txt-xs font-semibold">Volunteer activities</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="1200">
                    <img src="./assets/img/trip.svg" alt="">
                    <p class="txt-xs font-semibold">Company Trip</p>
                </a>
                <a href="" class="item" data-aos="zoom-in" data-aos-delay="1400">
                    <img src="./assets/img/gift.svg" alt="">
                    <p class="txt-xs font-semibold">Celebration gifts</p>
                </a>
            </div>
        </div>
    </div>
</main>