<main>
    <div class="wealify-question">
        <div class="container">
            <div class="header mb-md mx-auto text-center">
                <h1 class="title">Get assistance with frequently asked questions</h1>
            </div>
            <div class="faq-category grid">
                <a href="" title="">
                    <img src="./assets/img/token.svg" alt="" data-aos="zoom-in">
                    <span class="txt-sm font-bold mt-4">About us</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/acc.svg" alt="" data-aos="zoom-in" data-aos-delay="200">
                    <span class="txt-sm font-bold mt-4">My Wealify account</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/vector-1.svg" alt="" data-aos="zoom-in" data-aos-delay="400">
                    <span class="txt-sm font-bold mt-4">Send payment/ Top-up/ Withdrawal</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/card.svg" alt="" data-aos="zoom-in" data-aos-delay="600">
                    <span class="txt-sm font-bold mt-4">Virtual card</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/fee.svg" alt="" data-aos="zoom-in">
                    <span class="txt-sm font-bold mt-4">Services Fee</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/shield-1.svg" alt="" data-aos="zoom-in" data-aos-delay="200">
                    <span class="txt-sm font-bold mt-4">Security and Privacy</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/support.svg" alt="" data-aos="zoom-in" data-aos-delay="400">
                    <span class="txt-sm font-bold mt-4">Support and Assistance</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/other.svg" alt=""data-aos="zoom-in" data-aos-delay="600">
                    <span class="txt-sm font-bold mt-4">Other</span>
                </a>
            </div>
        </div>
    </div>
    <div class="wealify-support">
        <div class="container">
            <div class="header mb-md mx-auto text-center">
                <h2 class="title">Contact our local customer support</h2>
            </div>
            <div class="support-list grid" data-aos="fade-up">
                <div class="item flex">
                    <div class="img"><img src="./assets/img/usa.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md font-bold">United States</h4>
                        <div class="txt-xs font-semibold">
                            <p>Office: 2355 STATE ST STE 101, SALEM, OR, 97301, USA</p>
                            <p>Email: <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="img"><img src="./assets/img/hongkong.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md font-bold">Hong Kong</h4>
                        <div class="txt-xs font-semibold">
                            <p>Office: Unit 1402B 14/F The Belgian Bank building, NOS. 721-725 Nathan Road, Mongkok, Hong Kong</p>
                            <p>Email: <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="img"><img src="./assets/img/sing.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md font-bold">Singapore</h4>
                        <div class="txt-xs font-semibold">
                            <p>Office: Sophia road #05-12, Peace Center, Singapore 228149</p>
                            <p>Email: <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="img"><img src="./assets/img/vn.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md font-bold">Vietnam</h4>
                        <div class="txt-xs font-semibold">
                            <p>Office: Ngụy Như Kon Tum, Nhân Chính, Thanh Xuân, Hà Nội</p>
                            <p>Email: <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="img"><img src="./assets/img/estonia.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md font-bold">Estonia</h4>
                        <div class="txt-xs font-semibold">
                            <p>Office: Harju maakond, Tallinn, Pirita linnaosa, Padriku tee 12/3-4, 11912, Estonia Available from 8:00-18:00</p>
                            <p>Email: <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="img"><img src="./assets/img/uk.svg" alt=""></div>
                    <div class="info">
                        <h4 class="txt-md font-bold">UK</h4>
                        <div class="txt-xs font-semibold">
                            <p>7 Coronation, Dephna House, London, United Kingdom, NW10 7PQ</p>
                            <p>Email: <a href="mailto:support@wealify.com">support@wealify.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-blog pr">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="img-wrapper"><img src="./assets/img/macbook.png" alt=""></div>
                </div>
                <div class="col-lg-5">
                    <h2 class="title mb-sm" data-aos="fade-up">Read our blog</h2>
                    <div class="box-btn flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="" title="" class="btn-pr flex-center"><span>Follow the latest news and stories</span><i class="icon arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h2 class="title mb-3" data-aos="fade-up">Can’t find your answer?</h2>
            <h5 class="txt-sm font-bold" data-aos="fade-up" data-aos-delay="200">Our customer support team is here to help.</h5>
            <div class="box-btn flex-center mt-sm" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Contact Support</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>