<main>
    <div class="wealify-contact">
        <div class="container">
            <div class="header txt-xs font-semibold">
                <h1 class="title sm mb-sm">Get support</h1>
                <p>Need some assistance with navigating your account? <a href="" title="">Click here</a> to find answers for the questions you have about Wealify.</p>
                <p>Our team of dedicated support specialists is also on-hand to help you with any specific queries, enter your details below and our team will get back to you as soon as possible.</p>
            </div>
            <div class="form-contact">
                <form action="" method="">
                    <div class="form-group">
                        <label>Please choose the area where you need support</label>
                        <div class="box-select pr">
                            <div class="selected flex-lc pr">
                                <div class="name txt-xs">Payout</div>
                            </div>
                            <ul class="select-list">
                                <li data-name="Payout" class="active">
                                    <div class="flex-lc">
                                        <span>PPayout</span>
                                    </div>
                                </li>
                                <li data-name="USD">
                                    <div class="flex-lc">
                                        <span>USD</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Your email address</label>
                        <input type="email" name="" placeholder="">
                    </div>
                    <br>
                    <div class="form-group">
                        <select class="select2-min">
                            <option>-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea></textarea>
                    </div>
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Phone number (optional)</label>
                        <input type="number" name="" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <select class="select2-min">
                            <option>-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Attachments(optional)</label>
                        <div class="box-upload">
                            <div class="upload flex-center pr">
                                <input id="upload_id" type="file" required="">
                                <p><span>Add file</span> or drop files here</p>
                            </div>
                            <div id="image-holder" class="image-holder"></div>
                        </div>
                    </div>
                    <div class="flex-center">
                        <button type="button" class="btn-pr black"><span>Submit now</span><i class="icon arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>