<main>
    <div class="wealify-payment">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <h1 class="title mb-sm">The world’s trusted currency authority</h1>
                    <div class="text-des txt-sm">Explore Wealify reference exchange rates. The currency converter below is easy to use and the currency rates are updated frequently.</div>
                </div>
                <div class="col-lg-5">
                    <div class="box-tab">
                        <ul class="tab nav txt-xs mb-sm">
                            <li><a href="#topup" data-toggle="tab" class="active">Top-up Converter</a></li>
                            <li><a href="#withdraw" data-toggle="tab">Withdraw Converter</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="topup" class="tab-pane fade show active">
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">From</h5>
                                        <input type="text" name="" placeholder="0.00">
                                    </div>
                                    <div class="box-select pr">
                                        <div class="currency txt-xs">US Dollar</div>
                                        <div class="selected flex-lc pr">
                                            <div class="icon"><img src="./assets/img/usa.svg" width="24" alt=""></div>
                                            <div class="name txt-xs">Payoneer USD</div>
                                        </div>
                                        <ul class="select-list">
                                            <li data-icon="./assets/img/usa.svg" data-name="Payoneer USD" class="active">
                                                <div class="flex-lc">
                                                    <img src="./assets/img/usa.svg" alt="">
                                                    <span>Payoneer USD</span>
                                                </div>
                                            </li>
                                            <li data-icon="./assets/img/usa.svg" data-name="PingPong USD">
                                                <div class="flex-lc">
                                                    <img src="./assets/img/usa.svg" alt="">
                                                    <span>PingPong USD</span>
                                                </div>
                                            </li>
                                            <li data-icon="./assets/img/usa.svg" data-name="Lian Lian USD">
                                                <div class="flex-lc">
                                                    <img src="./assets/img/usa.svg" alt="">
                                                    <span>Lian Lian USD</span>
                                                </div>
                                            </li>
                                            <li data-icon="./assets/img/usa.svg" data-name="Wise USD">
                                                <div class="flex-lc">
                                                    <img src="./assets/img/usa.svg" alt="">
                                                    <span>Wise USD</span>
                                                </div>
                                            </li>
                                            <li data-icon="./assets/img/vn.svg" data-name="VND">
                                                <div class="flex-lc">
                                                    <img src="./assets/img/vn.svg" alt="">
                                                    <span>VND</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="arrow-down"></div>
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">To</h5>
                                        <input type="text" name="" placeholder="0.00">
                                    </div>
                                    <div class="box-select pr">
                                        <div class="currency txt-xs">VIND</div>
                                        <div class="selected flex-lc pr">
                                            <div class="icon"><img src="./assets/img/currency.svg" width="24" alt=""></div>
                                            <div class="name txt-xs">VIND</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-btn flex mt-sm">
                                    <button type="button" class="btn-submit flex-center txt-xs">Convert</button>
                                </div>
                            </div>
                            <div id="withdraw" class="tab-pane fade">
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">From</h5>
                                        <input type="text" name="" placeholder="0.00">
                                    </div>
                                    <div class="box-select pr">
                                        <div class="currency txt-xs">Payoneer</div>
                                        <div class="selected flex-lc pr">
                                            <div class="icon"><img src="./assets/img/usa.svg" width="24" alt=""></div>
                                            <div class="name txt-xs"> USD</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrow-down"></div>
                                <!--<div class="exchange txt-xs">1 USDT ≈ 23,400 VND</div>-->
                                <div class="item flex">
                                    <div>
                                        <h5 class="txt-xs">To</h5>
                                        <input type="text" name="" placeholder="0.00">
                                    </div>
                                    <div class="box-select pr">
                                        <div class="currency txt-xs">VIND</div>
                                        <div class="selected flex-lc pr">
                                            <div class="icon"><img src="./assets/img/currency.svg" width="24" alt=""></div>
                                            <div class="name txt-xs">VIND</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-btn flex mt-sm">
                                    <button type="button" class="btn-submit flex-center txt-xs">Convert</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-chart mb-lg">
        <div class="container">
            <div class="header flex">
                <div class="col-h">
                    <div class="flex-lc mb-3">
                        <div class="name">USD to VND Chart</div>
                        <span class="satus down txt-sm font-bold">-1,55%</span>
                    </div>
                    <div class="txt-sm">USD to VND by trading view </div>
                </div>
                <div class="col-h">
                    <div class="flex-lc pt-3">
                        <div class="exchange flex-lc txt-sm">1 USD = ... VND</div>
                        <time class="txt-xs">May 19, 2023, 15:34 GMT</time>
                    </div>
                </div>
            </div>
            <div class="chart">
                <img src="./assets/img/chart.png" alt="">
            </div>
        </div>
    </div>
    <div class="wealify-chart">
        <div class="container">
            <div class="header flex">
                <div class="col-h">
                    <div class="flex-lc">
                        <div class="name">E-wallet top-up Chart</div>
                        <span class="satus down txt-sm font-bold">-1,55%</span>
                    </div>
                </div>
                <div class="col-h">
                    <div class="flex-lc pt-3">
                        <div class="exchange flex-lc txt-sm">1 USD = xxx VIND</div>
                        <time class="txt-xs">May 19, 2023, 15:34 GMT</time>
                    </div>
                </div>
            </div>
            <ul class="tab nav txt-xs">
                <li><a href="#payoneer" data-toggle="tab" class="active">Payoneer USD</a></li>
                <li><a href="#pingpong" data-toggle="tab">Pingpong USD</a></li>
                <li><a href="#lian" data-toggle="tab">Lian Lian USD</a></li>
                <li><a href="#wise" data-toggle="tab">Wise USD</a></li>
            </ul>
            <div class="tab-content">
                <div id="payoneer" class="tab-pane fade show active">
                    <div class="chart">
                        <img src="./assets/img/chart.png" alt="">
                    </div>
                </div>
                <div id="pingpong" class="tab-pane fade"></div>
                <div id="lian" class="tab-pane fade"></div>
                <div id="wise" class="tab-pane fade"></div>
            </div>
        </div>
    </div>
    <div class="wealify-table py-lg">
        <div class="container">
            <div class="header">
                <h2 class="title xs">Live Currency Exchange Rates</h2>
                <p class="">Rates are updated at 19/12/2023 16:02:01 and are for reference only</p>
            </div>
            <div class="box-table">
                <table class="txt-xs">
                    <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Code name</th>
                        <th>Cash Buying</th>
                        <th>Telegraphic Buying</th>
                        <th>Selling</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/usa.svg" alt=""></div>
                                <div class="currency__name">USD</div>
                            </div>
                        </td>
                        <td>US DOLLAR</td>
                        <td>24,030.00</td>
                        <td>24,060.00</td>
                        <td>24,400.00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/usa.svg" alt=""></div>
                                <div class="currency__name">USD</div>
                            </div>
                        </td>
                        <td>USD Cash</td>
                        <td>24,030.00</td>
                        <td>24,060.00</td>
                        <td>24,400.00</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/eu.svg" alt=""></div>
                                <div class="currency__name">EUR</div>
                            </div>
                        </td>
                        <td>EURO</td>
                        <td>25,976.30</td>
                        <td>26,238.69</td>
                        <td>27,402.70</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/gbp.svg" alt=""></div>
                                <div class="currency__name">GBP</div>
                            </div>
                        </td>
                        <td>POUND STERLING</td>
                        <td>29,959.04</td>
                        <td>30,261.65</td>
                        <td>31,234.85</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/jpy.svg" alt=""></div>
                                <div class="currency__name">JPY</div>
                            </div>
                        </td>
                        <td>YEN</td>
                        <td>165.55</td>
                        <td>167.22</td>
                        <td>175.24</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/gbp.svg" alt=""></div>
                                <div class="currency__name">AUD</div>
                            </div>
                        </td>
                        <td>AUSTRALIAN DOLLAR</td>
                        <td>16,023.01</td>
                        <td>16,184.86</td>
                        <td>16,705.35</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="currency flex-lc">
                                <div class="currency__icon"><img src="./assets/img/sgd.svg" alt=""></div>
                                <div class="currency__name">SGD</div>
                            </div>
                        </td>
                        <td>SINGAPORE DOLLAR</td>
                        <td>17,852.65</td>
                        <td>18,032.98</td>
                        <td>18,612.90</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>