<main>
    <div class="wealify-api-s1 pr">
        <div class="container">
            <div class="header text-center">
                <h1 class="title" data-aos="fade-up">Robust and adaptable APIs designed to support your growth</h1>
                <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">Effortlessly handle payments, programmatically oversee foreign exchange and payouts, issue multi-currency cards, and explore additional functionalities through our extensive range of APIs.</p>
                <a href="" title="" class="btn-pr flex-center" data-aos="fade-up" data-aos-delay="400"><span>Contact Sales</span><i class="icon arrow-right"></i></a>
            </div>
            <div class="img-wrapper" data-aos="fade-in" data-aos-delay="600"><img src="./assets/img/img-screenshot.png" alt=""></div>
        </div>
    </div>
    <div class="wealify-api-s2 pr">
        <div class="container">
            <div class="header">
                <h2 class="title">Crafted for innovative global enterprises</h2>
                <p class="txt-sm">Effortlessly handle payments, programmatically oversee foreign exchange and payouts, issue multi-currency cards, and explore additional functionalities through our extensive range of APIs.</p>
            </div>
            <ul class="statistical">
                <li data-aos="fade-up">
                    <div class="data">99.9%</div>
                    <div class="text">system availability</div>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <div class="data">20M+</div>
                    <div class="text">API requests handled per day</div>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <div class="data">50+</div>
                    <div class="text">countries from which you can accept payments</div>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <div class="data">40+</div>
                    <div class="text">countries to which you can make transfers</div>
                </li>
                <li data-aos="fade-up" data-aos-delay="800">
                    <div class="data">20+</div>
                    <div class="text">countries that support card issuing</div>
                </li>
            </ul>
            <div class="worldmap"><img src="./assets/img/worldmap.jpg" alt=""></div>
        </div>
    </div>
    <div class="wealify-api-s3 pr">
        <div class="container">
            <div class="header mb-md mx-auto">
                <h2 class="title">Expand worldwide rapidly and confidently with our range of products.</h2>
            </div>
            <div class="feature">
                <div class="item">
                    <div class="content">
                        <h4 class="txt-md font-bold mb-2">Payment Solution</h4>
                        <p class="txt-xs font-semibold">Facilitate both one-time and recurring payments, ensuring equitable settlement for various currencies.</p>
                    </div>
                    <div class="img-wrapper" data-aos="fade-up"><img src="./assets/img/img-screenshot-2.png" alt=""></div>
                </div>
                <div class="item">
                    <div class="content">
                        <h4 class="txt-md font-bold mb-2">Efficient Payouts</h4>
                        <p class="txt-xs font-semibold">Effortlessly make secure and economical payouts to over 50 countries and regions through programmable processes.</p>
                    </div>
                    <div class="img-wrapper" data-aos="fade-up"><img src="./assets/img/img-screenshot-3.png" alt=""></div>
                </div>
                <div class="item">
                    <div class="content">
                        <h4 class="txt-md font-bold mb-2">Transactional Currency Exchange</h4>
                        <p class="txt-xs font-semibold">Utilize interbank FX rates to trade across more than 20 currency pairs, intelligently mitigating currency risks.</p>
                    </div>
                    <div class="img-wrapper" data-aos="fade-up"><img src="./assets/img/img-screenshot-4.png" alt=""></div>
                </div>
                <div class="item">
                    <div class="content">
                        <h4 class="txt-md font-bold mb-2">Card Issuance</h4>
                        <p class="txt-xs font-semibold">Efficiently issue and oversee multi-currency cards on a large scale, minimizing international transaction and FX fees.</p>
                    </div>
                    <div class="img-wrapper" data-aos="fade-up"><img src="./assets/img/img-screenshot-5.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</main>