<main>
    <div class="wealify-faq-s1">
        <div class="container">
            <div class="header mb-md mx-auto text-center">
                <h1 class="title">Get assistance with frequently asked questions</h1>
            </div>
            <div class="faq-category grid">
                <a href="" title="">
                    <img src="./assets/img/token.svg" alt="" data-aos="zoom-in">
                    <span class="txt-sm font-bold mt-4">About us</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/acc.svg" alt="" data-aos="zoom-in" data-aos-delay="200">
                    <span class="txt-sm font-bold mt-4">My Wealify account</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/vector-1.svg" alt="" data-aos="zoom-in" data-aos-delay="400">
                    <span class="txt-sm font-bold mt-4">Send payment/ Top-up/ Withdrawal</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/card.svg" alt="" data-aos="zoom-in" data-aos-delay="600">
                    <span class="txt-sm font-bold mt-4">Virtual card</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/fee.svg" alt="" data-aos="zoom-in">
                    <span class="txt-sm font-bold mt-4">Services Fee</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/shield-1.svg" alt="" data-aos="zoom-in" data-aos-delay="200">
                    <span class="txt-sm font-bold mt-4">Security and Privacy</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/support.svg" alt="" data-aos="zoom-in" data-aos-delay="400">
                    <span class="txt-sm font-bold mt-4">Support and Assistance</span>
                </a>
                <a href="" title="">
                    <img src="./assets/img/other.svg" alt="" data-aos="zoom-in" data-aos-delay="600">
                    <span class="txt-sm font-bold mt-4">Other</span>
                </a>
            </div>
        </div>
    </div>
    <div class="wealify-faq-s2">
        <div class="container">
            <div class="header mb-md mx-auto text-center">
                <h2 class="title">Can't find the information you need?</h2>
            </div>
            <div class="box-btn flex-center">
                <a href="" title="" class="btn-pr flex-center"><span>Submit Request</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>