<main>
    <div class="wealify-help sm pr">
        <div class="container">
            <div class="box-search">
                <h1 class="title sm text-center mb-sm">Frequently Asked Questions</h1>
                <form action="" class="pr">
                    <input type="text" name="" class="txt-xs" placeholder="Try “create account” or something else">
                    <button type="submit" class="btn-submit"></button>
                </form>
            </div>
        </div>
    </div>
    <div class="wealify-faqs">
        <div class="container">
            <div class="flex justify-content-between align-items-start">
                <div class="faq-list">
                    <div class="item active">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Getting started</span></h4>
                        </div>
                        <div class="item__content">
                            <ul class="tab nav">
                                <li><a href="#question1" title="" data-toggle="tab" class="active">Verifying your Business in Canada</a></li>
                                <li><a href="#question2" title="" data-toggle="tab">Can I open an account with Airwallex?</a></li>
                                <li><a href="#question3" title="" data-toggle="tab">What features and products are available in my registered business location?</a></li>
                                <li><a href="#question4" title="" data-toggle="tab">Why should I use Airwallex?</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>About us</span></h4>
                        </div>
                        <div class="item__content">
                            <ul class="tab nav">
                                <li><a href="#question5" title="" data-toggle="tab">Verifying your Business in Canada</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Account and privacy setting</span></h4>
                        </div>
                        <div class="item__content">

                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Account management</span></h4>
                        </div>
                        <div class="item__content">

                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Wealify cards</span></h4>
                        </div>
                        <div class="item__content">

                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Safety & security</span></h4>
                        </div>
                        <div class="item__content">

                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Transfers</span></h4>
                        </div>
                        <div class="item__content">

                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header">
                            <h4 class="txt-sm font-bold flex-lc"><span>Others</span></h4>
                        </div>
                        <div class="item__content">

                        </div>
                    </div>
                </div>
                <div class="box-answer tab-content">
                    <div id="question1" class="tab-pane fade show active">
                        <h5 class="txt-md font-bold mb-sm">Verifying your Business in Canada</h5>
                        <article class="txt-xs font-semibold">
                            <p>This article outlines the documents that may be required by Airwallex to verify a business registered in Canada.</p>
                            <p>Verification, known as KYC or ‘Know your customer’, is a process that is required by regulators to offer financial services to organizations and individuals. It involves reviewing and maintaining information on parties that use our financial services.</p>

                            <p>Below, we have provided details on the documents that are required for organizations to open an account with Airwallex if your business is registered in Canada.</p>
                            <p>Business Documents:- Certificate of Incorporation- Shareholding Structure including Beneficial Ownership</p>
                            <p>Personal Information:- Official Government Issued Photo ID- Residential Address</p>
                            <p>Business Information:- Business Name and any Fictitious business name, if applicable- Principal Place of Business- Business Registration Number</p>

                            <p>Additional Supporting Documents:Generally, additional supporting documents are only required for foreign businesses and/or businesses largely run outside of the US:

                            <p>- Recent Brick & Mortar CA Bank Account Statement (e.g. Royal Bank of Canada, Toronto-Dominion Bank, Bank of Nova Scotia, etc.). Excludes US Neobank Account Statements (e.g. Mercury, Wise)- Contracts between your CA entity and established third-party CA businesses- Invoice statements with CA-based customers- Evidence of Employee(s) based in CA- Service lease with co-working space</p>
                            <p>Please ensure all images are clear and readable. The file shall not exceed over 10MB, limited to {PDF, Word, JPG, JPEG, PNG, BMP}.</p>
                        </article>
                        <div class="box-feedback flex-lc justify-content-between">
                            <h4 class="txt-sm font-bold">Was this helpful?</h4>
                            <div class="flex-lc">
                                <button type="button" class="flex-lc txt-xs font-semibold"><span>Yes</span><i class="icon icon-yes"></i></button>
                                <button type="button" class="flex-lc txt-xs font-semibold"><span>No</span><i class="icon icon-no"></i></button>
                            </div>
                        </div>
                    </div>
                    <div id="question2" class="tab-pane fade">
                        <h5 class="txt-md font-bold mb-sm">Can I open an account with Airwallex?</h5>
                        <article class="txt-xs font-semibold">
                            Answer question 2
                        </article>
                    </div>
                    <div id="question3" class="tab-pane fade">
                        <h5 class="txt-md font-bold mb-sm">What features and products are available in my registered business location?</h5>
                        <article class="txt-xs font-semibold">
                            Answer question 3
                        </article>
                    </div>
                    <div id="question4" class="tab-pane fade">
                        <h5 class="txt-md font-bold mb-sm">Why should I use Airwallex?</h5>
                        <article class="txt-xs font-semibold">
                            Answer question 4
                        </article>
                    </div>
                    <div id="question5" class="tab-pane fade">
                        <h5 class="txt-md font-bold mb-sm">Why should I use Airwallex?</h5>
                        <article class="txt-xs font-semibold">
                            Answer question 5
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h2 class="title mb-3" data-aos="fade-up">Can’t find your answer?</h2>
            <h5 class="txt-sm font-bold" data-aos="fade-up" data-aos-delay="200">Our customer support team is here to help.</h5>
            <div class="box-btn flex-center mt-sm" data-aos="fade-up" data-aos-delay="400">
                <a href="" title="" class="btn-pr white flex-center"><span>Contact Support</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
</main>