<main>
    <div class="wealify-intro pr">
        <div class="container">
            <div class="content pt-3">
                <div class="text">
                    <h1 data-aos="fade-up">Make your spending Smarter & Faster.</h1>
                    <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">Expand your business globally by offering solutions for diverse withdrawal & deposit methods, Global corporate cards and online expense management.</p>
                </div>
                <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                    <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    <a href="" title="" class="btn-sub">Contact Sale</a>
                </div>
            </div>
            <div class="img-wrapper pr">
                <img src="./assets/img/img-dashboard.png" alt="">
            </div>
        </div>
    </div>
    <div class="wealify-discover pr">
        <div class="container">
            <div class="header flex-lc">
                <h2 class="title" data-aos="fade-up">Your world, your payments.  <span>Simplified</span></h2>
                <div class="text txt-sm" data-aos="fade-up" data-aos-delay="200">One platform, infinite possibilities. Manage global payments, treasury, spend, and even power embedded finance solutions with our software and APIs.</div>
            </div>
            <div class="discover-slider">
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/cards.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">01</div>
                        <h3 class="txt-lg">Virtual Credit Card</h3>
                        <p class="txt-xs">Instantly create multi currency payment card</p>
                        <ul class="check-list">
                            <li>Get up to 0.4% unlimited cashback on spend</li>
                            <li>Ultra speed payment process</li>
                            <li>Online Expense management</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="Get started" class="btn-sub">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/payment.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">02</div>
                        <h3 class="txt-lg">Wealify Wallet</h3>
                        <p class="txt-xs">Top up vs withdraw globally without any restrictions</p>
                        <ul class="check-list">
                            <li>Easily multi-currency top-up and withdraw</li>
                            <li>Flexible Multi-payment Method</li>
                            <li>Lightning speed</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="Get started" class="btn-sub">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__img">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/key.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="item__content">
                        <div class="txt-sm mb-2 font-weight-bold">03</div>
                        <h3 class="txt-lg">Core API</h3>
                        <p class="txt-xs">Streamline your global payments with our APIs: Accept payments, manage FX, send payouts, and issue virtual cards – all under one hood.</p>
                        <ul class="check-list">
                            <li>Enable the acceptance of payments in multiple currencies</li>
                            <li>Utilize interbank FX rates for transactions and effectively handle currency risk</li>
                            <li>Minimizing fees through equivalent settlement</li>
                        </ul>
                        <div class="box-btn flex-lc">
                            <a href="" title="Learn More" class="btn-pr white flex-center"><span>Learn More</span><i class="icon arrow-right"></i></a>
                            <a href="" title="Get started" class="btn-sub">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-statistical pr">
        <div class="container">
            <h2 class="title">Embrace the freedom of borderless finance, powered by trusted local networks</h2>
            <ul class="statistical-list flex">
                <li data-aos="fade-up">
                    <p>2000+</p>
                    <span>Customers</span>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <p>5+</p>
                    <span>Years experience</span>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <p>50+</p>
                    <span>Countries and territories</span>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <p>20+</p>
                    <span>Currencies</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="wealify-advantage pr">
        <div class="container">
            <h2 class="title">Why companies of every size select our services</h2>
            <div class="advantage-list">
                <div class="item flex" data-aos="fade-right">
                    <div class="img"><img src="./assets/img/convenient.svg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-md font-weight-bold mb-2">Convenient</h3>
                        <p>Top-up and Withdraw in many currencies</p>
                    </div>
                </div>
                <div class="item flex" data-aos="fade-left">
                    <div class="img"><img src="./assets/img/simple.svg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-md font-weight-bold mb-2">Simple</h3>
                        <p>Simple and efficient Simple Registration and User-Friendly Experience</p>
                    </div>
                </div>
                <div class="item flex" data-aos="fade-right" data-aos-delay="200">
                    <div class="img"><img src="./assets/img/secure.svg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-md font-weight-bold mb-2">Secure & trustworthy</h3>
                        <p>Our security meets the strictest worldwide standards through the integration of Blockchain technology for VIND</p>
                    </div>
                </div>
                <div class="item flex" data-aos="fade-left" data-aos-delay="200">
                    <div class="img"><img src="./assets/img/competitive.svg" alt=""></div>
                    <div class="content">
                        <h3 class="txt-md font-weight-bold mb-2">Competitive cost</h3>
                        <p>Turn FX fees into profit fuel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-reviews">
        <h2 class="title">Over 500+ businesses choose us and here's why:</h2>
        <div class="review-list">
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">"Wealify has introduced a significantly more effective method for managing our finances, a capability we lacked previously. Our previous provider couldn't scale according to our requirements.”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">"I love using Wealify to pay for things online. It's so convenient and I don't have to worry about entering my credit card information every time I make a purchase.”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">"Wealify speaks the language of startups: tech-first, cost-conscious, and always adaptable. Their strong API, competitive rates, and personalized solutions let us conquer the global market.”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="rating">
                    <div class="rating__value" style="width: 100%"></div>
                </div>
                <div class="text-review txt-sm">“I've been using Wealify for my online business for over a year now and I've been very happy with it. It's easy to use, integrates well with my website, and is very reliable. I've never had any problems with processing payments or customers checking out.”</div>
                <div class="author flex-lc">
                    <div class="author__img"><img src="./assets/img/avatar.png" alt=""></div>
                    <div class="author__detail">
                        <div class="name txt-sm font-bold">Andrew Maher</div>
                        <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="reivew-control flex">
            <button type="button" class="btn-prev"></button>
            <button type="button" class="btn-next"></button>
        </div>
    </div>
    <div class="wealify-partners pr">
        <div class="container">
            <h2 class="txt-md font-bold text-center">Our partners</h2>
            <div class="partner-list" data-aos="fade-up">
                <div class="item">
                    <a href="" title=""><img src="./assets/img/bidv.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/msb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/mb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/fado.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/acb.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/vib.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/lionbay.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/vibill.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/burgerprints.png" alt=""></a>
                </div>
                <div class="item">
                    <a href="" title=""><img src="./assets/img/moneygram.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-daboard pr">
        <div class="container">
            <div class="header" data-aos="fade-up">
                <h2 class="title">Start building your online business today</h2>
                <div class="box-btn flex-center">
                    <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
                    <a href="" title="" class="btn-sub flex-center">View Demo</a>
                </div>
            </div>
            <div class="img-daboard" data-aos="fade-in" data-aos-delay="200"><img src="./assets/img/img-dashboard-1.png" alt=""></div>
        </div>
    </div>
</main>