<main>
    <div class="wealify-news">
        <div class="container">
            <h1 class="title mb-md">Newroom</h1>
            <div class="news-hightlight flex-lc">
                <a href="" class="thumb"><img src="./assets/img/img-news-1.jpg" alt=""></a>
                <div class="content">
                    <div class="category mb-2">News</div>
                    <h3 class="mb-2"><a href="">Control all your spend in one unified platform.</a></h3>
                    <time class="txt-xs font-bold mb-3">20 Nov 2023</time>
                    <p class="txt-xs font-semibold mb-4">When it’s easy to comply, employees do it. Compliance is that simple. Free your finance team from chasing employees at month...</p>
                    <div class="box-btn flex">
                        <a href="" title="" class="btn-pr flex-center"><span>Read More</span><i class="icon arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="box-nav flex-lc">
                <ul class="tab nav">
                    <li><a href="#all" title="" data-toggle="tab" class="active">All News</a></li>
                    <li><a href="#news" title="" data-toggle="tab">News</a></li>
                    <li><a href="#product" title="" data-toggle="tab">Products</a></li>
                    <li><a href="#community" title="" data-toggle="tab">Community</a></li>
                    <li><a href="#company" title="" data-toggle="tab">Company</a></li>
                </ul>
                <div class="box-select pr">
                    <div class="selected flex-lc pr">
                        <div class="icon"><img src="./assets/img/vn.svg" width="24" alt=""></div>
                        <div class="name txt-xs font-bold">Vietnam</div>
                    </div>
                    <ul class="select-list">
                        <li data-icon="./assets/img/vn.svg" data-name="Vietnam">
                            <div class="flex-lc">
                                <img src="./assets/img/vn.svg" alt="">
                                <span>Vietnam</span>
                            </div>
                        </li>
                        <li data-icon="./assets/img/usa.svg" data-name="USA" class="active">
                            <div class="flex-lc">
                                <img src="./assets/img/usa.svg" alt="">
                                <span>USA</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="all" class="tab-pane fade show active">
                    <div class="news-list grid">
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-2.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">MoneyGram announces new CPO to head up strategic growth</a></h3>
                            <time class="txt-xs font-bold mb-3">12 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">MoneyGram International, a prominent global financial technology company known for...</p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-3.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">PayU innovates with SDK releases for frictionless digital payments</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4"><a href="" title="" target="_blank">PayU</a>, the pioneering online payment solutions provider in India, has unveiled three groundbreaking </p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-4.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">Mastercard launches CBDC partner programme</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4"><a href="" title="" target="_blank">Mastercard</a> has launched a new partnership program designed to explore the benefits and...</p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-5.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">Mastercard JV approved to begin domestic payments processing in</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4"><a href="" title="" target="_blank">Mastercard‘s</a> joint venture entity, Mastercard NUCC Information Technology (Beijing) Co., Ltd., ...</p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-6.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">Control all your spend in one unified platform.</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">When it’s easy to comply, employees do it. Compliance is that simple. </p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-7.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">Control all your spend in one unified platform.</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">When it’s easy to comply, employees do it. Compliance is that simple. </p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                    </div>
                </div>
                <div id="news" class="tab-pane fade">
                    <div class="news-list grid">
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-2.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">MoneyGram announces new CPO to head up strategic growth</a></h3>
                            <time class="txt-xs font-bold mb-3">12 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">MoneyGram International, a prominent global financial technology company known for...</p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-3.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">PayU innovates with SDK releases for frictionless digital payments</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4"><a href="" title="" target="_blank">PayU</a>, the pioneering online payment solutions provider in India, has unveiled three groundbreaking </p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                    </div>
                </div>
                <div id="product" class="tab-pane fade">
                    <div class="news-list grid">
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-2.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">MoneyGram announces new CPO to head up strategic growth</a></h3>
                            <time class="txt-xs font-bold mb-3">12 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">MoneyGram International, a prominent global financial technology company known for...</p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                    </div>
                </div>
                <div id="community" class="tab-pane fade">
                    <div class="news-list grid">
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-7.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">Control all your spend in one unified platform.</a></h3>
                            <time class="txt-xs font-bold mb-3">23 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">When it’s easy to comply, employees do it. Compliance is that simple. </p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                    </div>
                </div>
                <div id="company" class="tab-pane fade">
                    <div class="news-list grid">
                        <article>
                            <a href="" title="" class="thumb mb-4"><img src="./assets/img/img-news-2.jpg" alt=""></a>
                            <div class="category mb-3">News</div>
                            <h3 class="txt-md font-bold mb-2"><a href="" title="">MoneyGram announces new CPO to head up strategic growth</a></h3>
                            <time class="txt-xs font-bold mb-3">12 Dec 2023</time>
                            <p class="txt-xs font-semibold mb-4">MoneyGram International, a prominent global financial technology company known for...</p>
                            <a href="" title="" class="readmore txt-xs font-bold">Read More</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>