<main>
    <div class="wealify-partner-s1">
        <div class="container">
            <div class="content">
                <h1 class="title mb-sm" data-aos="fade-up">Become a Wealify's Partner</h1>
                <div class="txt-sm" data-aos="fade-up" data-aos-delay="200">Join Wealify in shaping the future through collaboration and innovation. Together, we can achieve greatness. Apply for our Partnership Program today!</div>
            </div>
            <div class="img-wrapper"><img src="./assets/img/img-screenshot-7.png" alt=""></div>
        </div>
    </div>
    <div class="wealify-partner-s2 pr">
        <div class="container">
            <div class="header mb-md text-center">
                <h2 class="title">Why Partner with Wealify</h2>
            </div>
            <div class="content">
                <div class="img-wrapper"><img src="./assets/img/img-screenshot-8.png" alt=""></div>
                <ul class="feature">
                    <li data-aos="fade-up">
                        <div class="flex-lc mb-2">
                            <div class="icon mr-3"><img src="./assets/img/market.svg" alt=""></div>
                            <h4 class="txt-md font-bold">New Markets</h4>
                        </div>
                        <div class="txt-xs font-semibold">Easily tap into global customers</div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200">
                        <div class="flex-lc mb-2">
                            <div class="icon mr-3"><img src="./assets/img/increase.svg" alt=""></div>
                            <h4 class="txt-md font-bold">Increase Your Earnings</h4>
                        </div>
                        <div class="txt-xs font-semibold">The longer we work together, the more money you can make</div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <div class="flex-lc mb-2">
                            <div class="icon mr-3"><img src="./assets/img/vector.svg" alt=""></div>
                            <h4 class="txt-md font-bold">Get the Support You Need</h4>
                        </div>
                        <div class="txt-xs font-semibold">We're here to help with sales tools and support whenever you need it.</div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="600">
                        <div class="flex-lc mb-2">
                            <div class="icon mr-3"><img src="./assets/img/clock.svg" alt=""></div>
                            <h4 class="txt-md font-bold">Real-time dashboard</h4>
                        </div>
                        <div class="txt-xs font-semibold">Access real-time reports for your online activities through our secure Agent Portal.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wealify-partner-s3 py-lg">
        <div class="container">
            <div class="header mb-md" data-aos="fade-up">
                <h2 class="title">Explore the experiences of our customers with Wealify</h2>
            </div>
        </div>
        <div class="box-slider" data-aos="fade-in">
            <div class="feedback-slider">
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">"Wealify has introduced a significantly more effective method for managing our finances, a capability we lacked previously. Our previous provider couldn't scale according to our requirements.”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Paul Nguyen</div>
                        <div class="txt-xs font-semibold">CEO, Burgerprints</div>
                    </div>
                </div>
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">"I love using Wealify to pay for things online. It's so convenient and I don't have to worry about entering my credit card information every time I make a purchase.”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Pham Tan Dat</div>
                        <div class="txt-xs font-semibold">Chairman, FADO</div>
                    </div>
                </div>
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">"Wealify speaks the language of startups: tech-first, cost-conscious, and always adaptable. Their strong API, competitive rates, and personalized solutions let us conquer the global market.”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Do Quoc Hung</div>
                        <div class="txt-xs font-semibold">Partnership Director, Moneygram</div>
                    </div>
                </div>
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">"Time is money, and Wealify saved us both. 10x faster operations freed up resources for brand building, website improvements, and exceeding customer expectations. Our growth is the proof!”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Brian Do</div>
                        <div class="txt-xs font-semibold">Branch Director, Vietnam International Bank</div>
                    </div>
                </div>
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">"With the adoption of Wealify, traditional banks are essentially no longer a necessity for us. Whether it's handling payments, both incoming and outgoing, or managing expenses, Wealify serves as our all-in-one solution.”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Phuc Thai</div>
                        <div class="txt-xs font-semibold">CEO, PGcom Group</div>
                    </div>
                </div>
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">"I'm a small business owner and I use Wealify to process all of my online payments. It's very affordable and I've never had any problems with it. I would definitely recommend it to other small businesses.”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Do Hoang Viet</div>
                        <div class="txt-xs font-semibold">CEO, Golden Pheonix</div>
                    </div>
                </div>
                <div class="item">
                    <div class="rating">
                        <div class="rating__value" style="width: 100%"></div>
                    </div>
                    <div class="text-review txt-sm">“Weali has enabled us to accomplish tasks at a pace ten times faster than before. This has given us the opportunity to dedicate more time to our brand, website, and enhancing the customer experience. This is a key factor that contributed to our rapid growth.”</div>
                    <div class="author">
                        <div class="name txt-sm font-bold">Franky Kao</div>
                        <div class="txt-xs font-semibold">CEO, Insights</div>
                    </div>
                </div>
            </div>
            <div class="nav-feedback flex-lc">
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <span class="slider__label sr-only"></span>
                </div>
                <button type="button" class="btn-prev"></button>
                <button type="button" class="btn-next"></button>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h2 class="title">Sign up <br> to Become a Wealify's Partner</h2>
            <form action="" class="form-register txt-xs">
                <div class="flex-center">
                    <input type="email" name="" placeholder="Enter your email" required>
                    <button type="submit" class="btn-submit">Get Started</button>
                </div>
            </form>
        </div>
    </div>
</main>