<main>
    <div class="wealify-wallet">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-wrapper"><img src="./assets/img/phone-mk2-2.png" alt=""></div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h1 class="title mb-4" data-aos="fade-up">Your Money, Your Way: Effortlessly Top Up and Withdraw from Your Wealify Wallet</h1>
                        <p class="txt-sm" data-aos="fade-up" data-aos-delay="200">Access your funds quickly and securely, whenever you need them.</p>
                        <div class="box-btn flex" data-aos="fade-up" data-aos-delay="400">
                            <a href="" title="" class="btn-pr flex-center"><span>Sign up for free</span><i class="icon arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-work">
        <div class="container">
            <h2 class="title text-center">Make Your First Top-up Now</h2>
            <div class="procedure" data-aos="fade-up">
                <div class="item">
                    <div class="icon"><img src="./assets/img/contract.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Sign up for a free Wealify account</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/receive.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Choose currency and top-up your account</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/credit-card.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Make direct payments using your currency accounts.</div>
                </div>
                <div class="item">
                    <div class="icon"><img src="./assets/img/group.svg" alt=""></div>
                    <div class="text txt-xs font-semibold px-3">Authrize Real-time transfers to recipients around the world</div>
                </div>
            </div>
            <div class="box-btn flex-center" data-aos="fade-in" data-aos-delay="200">
                <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="wealify-utilities">
        <div class="container">
            <div class="header">
                <h2 class="title">Sign up now and enjoy</h2>
                <div class="box-btn flex">
                    <a href="" title="" class="btn-pr"><span>learn more</span><i class="icon arrow-right"></i></a>
                </div>
            </div>
            <div class="flex">
                <div class="img-wrapper"><img src="./assets/img/img-phone-2x.png" alt=""></div>
                <div class="utilities-list flex">
                    <div class="col">
                        <div class="item flex">
                            <div class="icon"><img src="./assets/img/speed.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold mb-2">Speed & Convenience</h4>
                                <p class="txt-xs font-semibold">Top up and withdraw in seconds, pay on the go, and enjoy instant transactions anywhere, anytime.</p>
                            </div>
                        </div>
                        <div class="item flex">
                            <div class="icon"><img src="./assets/img/wallet.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold mb-2">Flexible Multi-payment Methods</h4>
                                <p class="txt-xs font-semibold">Choose the option that suits you best: bank transfers, e-wallet, VCC.</p>
                            </div>
                        </div>
                        <div class="item flex">
                            <div class="icon"><img src="./assets/img/simplicity.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold mb-2">Simplicity & Efficiency</h4>
                                <p class="txt-xs font-semibold">One app, one account, endless possibilities. Enjoy the freedom of a cashless lifestyle.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="item flex">
                            <div class="icon"><img src="./assets/img/shieldcheck.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold mb-2">Full Control Over Your Finances</h4>
                                <p class="txt-xs font-semibold">Track your withdrawals, manage your spending, and stay on top of your budget with ease.</p>
                            </div>
                        </div>
                        <div class="item flex">
                            <div class="icon"><img src="./assets/img/bookmark.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-bold mb-2">Global Reach</h4>
                                <p class="txt-xs font-semibold">Enhance your global footprint through competitive exchange rates. Seamlessly connect with the world.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-transaction">
        <div class="container">
            <h2 class="title">Simplify global transaction and say goodbye to hidden fees</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="box-video">
                        <video autoplay muted loop playsinline>
                            <source src="./assets/img/multi-currency.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="list-feature">
                        <li class="flex" data-aos="fade-up">
                            <div class="icon"><img src="./assets/img/sand-clock.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-weight-bold">Reduce Banks unnecessary fees</h4>
                                <p class="txt-xs">No fees for opening an account, no monthly maintenance charges, and no minimum transaction requirements.</p>
                            </div>
                        </li>
                        <li class="flex" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><img src="./assets/img/lock.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-weight-bold">Be confident in the security of your funds.</h4>
                                <p class="txt-xs">No fees for opening an account, no monthly maintenance charges, and no minimum transaction requirements.</p>
                            </div>
                        </li>
                        <li class="flex" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon"><img src="./assets/img/charges.svg" alt=""></div>
                            <div class="content">
                                <h4 class="txt-md font-weight-bold">Bypass expensive conversion charges.</h4>
                                <p class="txt-xs">Avoid unnecessary conversion fees by accepting payments in the currencies your customers use.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wealify-feedback py-lg pr">
        <div class="container">
            <div class="feedback bg-pink flex">
                <div class="img-wrapper"><img src="./assets/img/img-feedback-2.png" alt=""></div>
                <div class="content">
                    <h4 class="txt-sm font-bold">What they say about us</h4>
                    <div class="feedback-list">
                        <div class="item">
                            <div class="rating">
                                <div class="rating__value" style="width: 100%"></div>
                            </div>
                            <div class="text sm">“ When it’s easy to comply, employees do it. Compliance is that simple.”</div>
                            <div class="author">
                                <div class="txt-md font-bold mb-1">Andrew Maher</div>
                                <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rating">
                                <div class="rating__value" style="width: 100%"></div>
                            </div>
                            <div class="text">“ When it’s easy to comply, employees do it. Compliance is that simple.”</div>
                            <div class="author">
                                <div class="txt-md font-bold mb-1">Andrew Maher</div>
                                <div class="txt-xs font-semibold">Head of Finance, Superhuman</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn flex-center">
                <a href="" title="" class="btn-pr flex-center"><span>Open an Account</span><i class="icon arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="wealify-register">
        <div class="content text-center">
            <h5 class="txt-sm font-bold" data-aos="fade-up">Ready to Get Started</h5>
            <h2 class="title" data-aos="fade-up" data-aos-delay="200">Let’s dream big together</h2>
            <form action="" class="form-register txt-xs" data-aos="fade-up" data-aos-delay="400">
                <div class="flex-center">
                    <input type="email" name="" placeholder="Enter your email" required>
                    <button type="submit" class="btn-submit">Get Started</button>
                </div>
            </form>
        </div>
    </div>
</main>