:root{
  --orange: #FF6E40;
  --black: #111111;
}
body{
  background: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: #111111;
  line-height: 21px;
  overflow-x: hidden;
  &.pr{background: #082034;}
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@mixin after-btn{
  content: "";
  width: calc(100% + 2px); height: 100%;
  border-radius: 4px;
  background: linear-gradient(#d2d2d2, rgba(#d2d2d2,0));
  position: absolute; top: -1px; left: -1px; z-index: -1;
}
@mixin line{
  content: "";
  width: 1072px; height: 24px;
  background: url("#{$img-path}/line1.png") no-repeat 50% 0/contain;
  position: absolute; left: 0;
}
@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}

a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%;
  position: fixed; z-index: 9;
  &.scroll{
    box-shadow: 0 2px 4px rgba(#000,.18); background: #fff;
    .navbar{padding: 12px 0;}
  }
  .container-fluid{padding: 0 50px;}
  .navbar-toggle{display: none;}
  .login{
    margin-left: auto;
    a,button{padding: 0 16px; color: var(--black); font-weight: 700;}
    .arrow-right{transition: .4s;}
    .btn-register{
      width: 193px; height: 44px; border-radius: 5px; border: 1px solid #111;
      &:hover{
        .arrow-right{transform: translateX(5px);}
      }
    }
    .btn-login{
      margin-right: 16px;
      &:hover{border-bottom: 1px solid var(--black);}
    }
  }
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 20px 0;
  border-radius: 0; border: none;
  transition: .3s;
  .logo{width: 146px;}
}

.navbar-collapse{
  padding: 0;
  justify-content: flex-start;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 auto; padding-left: 133px; align-items: center;
  >*+*{margin-left: 40px;}
  > li{display: flex; flex-wrap: wrap; align-items: center; position: relative;}
  > li > a{display: block; font-size: 15px; font-weight: 700; color: var(--black); line-height: 24px; position: relative; text-transform: capitalize;}
  > li:hover{border-bottom: 1px solid var(--black);}
  .active{border-bottom: 1px solid var(--black);}
  .show-menu{
    width: 12px; height: 12px; display: block;
    margin: 0 0 0 4px;
    background: url("#{$img-path}/arrow-down.svg") no-repeat;
    cursor: pointer;
  }
  > li:hover .sub-menu{opacity: 1; visibility: visible; transform: translateY(0); z-index: 2;}
  > li:last-child{position: inherit;}
  .sub-menu{
    width: 410px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    position: absolute; left: 0; top: 40px;
    opacity: 0; visibility: hidden; transform: translateY(10px); z-index: -1; transition: .3s;
    &.lg{
      width: 100%; max-width: 1174px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 12px;
      left: 0; right: 0; top: 69px; margin: 0 auto;
      li{margin-top: 12px;}
      >*+*{margin-top: 0px;}
    }
    >*+*{margin-top: 12px;}
    .header{
      h4{text-transform: uppercase;}
      p{color: #888888; font-size: 13px; line-height: 20px;}
    }
    .icon{width: 40px; height: 40px; border-radius: 15px; background: #F5F5F5; display: flex; align-items: center; justify-content: center;}
    .info{width: calc(100% - 40px); padding-left: 16px;}
    p{font-weight: 700; color: var(--black); font-size: 14px; line-height: 24px;}
    span{display: block; font-weight: 600; font-size: 13px; line-height: 20px; color: #888;}
    a{padding: 12px; border-radius: 10px;}
    a:hover{background: #FEEBEA;}
    a:hover .icon{background: #fff;}
  }
}
.login--mobile{display: none;}
//main
main{min-height: 78vh; padding-top: 84px;}
.wealify-intro{
  padding: 100px 0 189px;
  &::after{
    content: "";
    width: 1249px; height: 625px;
    background: url("#{$img-path}/bg-h-f1.svg") no-repeat 0 0/contain;
    position: absolute; right: 0; top: -84px; z-index: -1;
  }
  h1{max-width: 605px; margin-bottom: 32px; font-weight: 600; font-size: 54px; line-height: 68px; color: var(--black);}
  p{max-width: 422px;}
  .box-btn{
    margin-top: 42px; align-items: center;
    >*+*{margin-left: 20px;}
  }
  .img-wrapper{
    width: 713px; position: absolute; right: 0; bottom: 0;
    .img{
      &--2{width: 240px; position: absolute;  bottom: 0; left: 16px; animation: movie-y 2s infinite linear;}
      &--3{position: absolute; bottom: 10px; left: 300px; animation: movie-x 3s infinite linear;}
    }
  }
}

@-webkit-keyframes movie-y{
  0%{transform: translateY(-20px);}
  50%{transform: translateY(0px);}
  100%{transform: translateY(-20px);}
}
@-webkit-keyframes movie-x{
  0%{transform: translateX(-60px);}
  50%{transform: translateX(0px);}
  100%{transform: translateX(-60px);}
}

.wealify-discover{
  padding: 110px 0 100px; background: var(--black);
  &::after{
    content: "";
    width: 100%; height: 300px; display: none;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.00) 0%, #111 100%);
    position: absolute; bottom: 0;
  }
  .header{
    margin-bottom: 60px;
    .text{max-width: 340px; margin-left: 228px; color: #fff;}
  }
  .title{max-width: 550px; color: #fff;}
  .slick-current{
    z-index: 2;
    .item__img{opacity: 1; transform: translateY(0);}
  }
  .item{
    display: flex !important;
    border: none;
    align-items: flex-start;
    color: #fff;
    &__img{
      width: 602px; opacity: 0; transform: translateY(20px); transition: .5s;
      img{display: block; margin: 0 auto;}
      @media (max-width: 1440px) {
        padding-top: 0;
      }
    }
    &__content{
      max-width: 450px; margin-left: 188px; padding-bottom: 160px;
      @media (max-width: 1440px) {
        padding-bottom: 20px;
      }
    }
    h3{margin-bottom: 20px;}
    p{font-weight: 600;}
  }
  video{width: 100%; height: 100%; margin-top: -50px; object-fit: cover;}
  .btn-sub{margin-left: 20px; color: #fff; border-color: #fff;}
  &:hover{
    .slick-arrow{opacity: 1;}
    .slick-next{right: -42px;}
    .slick-prev{left: -42px;}
  }
  .slick-arrow{
    width: 42px; height: 42px;
    border-radius: 50%;
    background: #fff url("#{$img-path}/arrow-right-1.svg") no-repeat center center;
    position: absolute; top: 40%; transform: translateY(-50%);
    transition: .5s;
    opacity: 0;
    font-size: 0; z-index: 9;
    &:hover{filter: invert(1);}
  }
  .slick-next{right: -100%;}
  .slick-prev{left: -100%; transform: translateY(-50%) rotate(180deg);}
}
.wealify-statistical{
  padding: 140px 0;
  background: linear-gradient(180deg, #FFF 0%, #FEEEEE 82.63%);
  &::after,&::before{
    content: "";
    position: absolute;
  }
  &::before{
    width: 282px; height: 518px;
    background: url("#{$img-path}/bg-s3-1.svg") no-repeat 0 0/contain;
    left: 0;
  }
  &::after{
    width: 338px; height: 518px;
    background: url("#{$img-path}/bg-s3-2.svg") no-repeat 0 0/contain;
    right: 0; top: 150px;
  }
  .container{position: relative; z-index: 2;}
  .title{max-width: 1010px; margin: 0 auto 50px; text-align: center;}
  .statistical-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    width: 84%; margin: 0 auto;
    li{padding: 20px 10px; font-weight: 600;}
    p{margin-bottom: 4px; font-size: 52px; line-height: 62px; color: var(--orange);}
    span{font-size: 14px; line-height: 24px;}
  }
}
.wealify-advantage{
  padding: 150px 0 185px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::before{
    width: 710px; height: 1174px;
    background: url("#{$img-path}/bg-s4-1.svg") no-repeat 0 0/contain;
    left: -80px; bottom: 100px;
  }
  &::after{
    width: 648px; height: 1174px;
    background: url("#{$img-path}/bg-s4-2.svg") no-repeat 0 0/contain;
    right: 0px; top: 0px;
  }
  .title{max-width: 604px; margin-bottom: 78px;}
  .advantage-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 32px;
    .item{
      padding: 35px 46px;
      border-radius: 12px;
      background: #fff;
      box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    }
    .img{width: 100px;}
    .content{width: calc(100% - 100px); padding-left: 20px;}
    p{font-size: 13px; line-height: 20px; font-weight: 600;}
  }
}
.wealify-reviews{
  padding: 0 0 20px;
  .title{max-width: 710px; margin: 0 auto 60px; text-align: center;}
  .text-des{max-width: 340px; padding: 30px 0;}
  .reivew-control{
    margin-right: calc((100% - 1250px)/2); justify-content: flex-end; margin-top: 20px;
    button{
      width: 42px; height: 42px;
      background: url("#{$img-path}/arrow-right-1.svg") no-repeat center center;
      border-radius: 50%;
    }
    .btn-prev{transform: rotate(180deg); margin-right: 10px;}
  }
  .review-list{
    margin-left: calc((100% - 1250px)/2);
    .slick-list{padding-right: 80px;}
    .item{
      margin: 0 15px;
      padding: 40px 29px;
      background: #FEEBEA;
      border-radius: 20px;
    }
    .text-review{min-height: 220px; margin-bottom: 20px;}
    .author{
      &__img{
        width: 70px; height: 70px;
        img{width: 100%; height: 100%; object-fit: cover;}
      }
      &__detail{width: calc(100% - 70px); padding-left: 16px;}
    }
  }
}
.wealify-partners{
  padding: 148px 0 176px;
  background: url("#{$img-path}/bg-h-f5.svg") no-repeat 0 0/cover;
  .partner-list{
    display: flex; flex-wrap: wrap; justify-content: center;
    max-width: 1160px; margin: 50px auto 0;
    .item{margin: 10px 50px; display: flex; align-items: center; justify-content: center;}
    a{min-height: 71px; display: flex; align-items: flex-end;}
  }
}
.wealify-daboard{
  background: url("#{$img-path}/bg-h-f6.svg") no-repeat bottom center/cover;
  .box-btn{
    >*+*{margin-left: 20px;}
  }
  .header{
    max-width: 702px;
    margin: 0 auto;
    text-align: center;
    .title{margin-bottom: 40px;}
  }
  .img-daboard{
    margin: 0 auto; max-width: 900px;
    img{display: block; margin: 0 auto;}
  }
}


//category
.wealify-payment{
  padding: 40px 0 180px;
  &::after{
    content: "";
    width: 1245px; height: 1026px;
    background: url("#{$img-path}/bg-d-payment.svg") no-repeat 0 0/contain;
    position: absolute; top: 0; right: 0; z-index: -1;
  }
  .text-des{max-width: 605px;}
  .time{
    &::before{
      content: "";
      width: 24px; height: 24px; display: block;
      background: url("#{$img-path}/calendar.svg") no-repeat 0 0/contain;
      margin-right: 11px;
    }
  }
  .box-table{max-width: 633px;}
}
.wealify-table{
  .header{
    margin-bottom: 40px;
    p{color: #666; font-size: 14px; font-weight: 600; line-height: 24px;}
  }
  .title{margin-bottom: 10px;}
}
.wealify-chart{
  .header{margin-bottom: 40px; justify-content: space-between;}
  .name{margin-right: 16px; font-size: 34px; line-height: 48px; font-weight: 600;}
  .satus{
    padding: 8px 20px; border-radius: 9999px;
    &.down{background: rgba(244, 45, 45, 0.08); color: #F42D2D;}
  }
  .exchange{
    margin-right: 12px;
    &::before{
      content: "";
      width: 8px; height: 8px;
      display: block; margin-right: 12px;
      background: #1CBD70; border-radius: 50%;
    }
  }
  .tab{
    border-radius: 5px;
    margin-bottom: 40px; overflow: hidden;
    >*+*{margin-left: -1px;}
    li{max-width: 25%; width: 220px;}
    a{
      display: block; width: 100%; height: 100%; padding: 13px 0;
      border: 1px solid #ddd;
      display: flex; align-items: center; justify-content: center;
      font-weight: 700; font-size: 15px; color: var(--black); text-align: center; position: relative;
    }
    .active{
      color: #FC553B;
      &::after{
        content: "";
        width: 100%; height: 2px;
        background: #FC553B;
        position: absolute; bottom: -1px; left: 0;
      }
    }
  }
  time{font-weight: 600; color: #666;}
}
.wealify-wallet{
  padding: 90px 0 195px; position: relative;
  &::before{
    content: "";
    width: 1185px; height: 1048px;
    background: url("#{$img-path}/bg-dc-wallet.svg") no-repeat 0 0/contain;
    position: absolute; left: 0; top: -84px; z-index: -1;
  }
  .content{padding-top: 50px;}
  .box-btn{margin-top: 40px;}
  .img-wrapper{max-width: 601px;}
}
.wealify-work{
  padding: 0 0 140px;
  .step-list{
    margin-top: 80px; justify-content: space-between;
    &::after{
      content: "";
      width: 80%; border-top: 1px dashed #B1B1B1;
      position: absolute; top: 30px; left: 10%; z-index: -1;
    }
    li{width: 18%;}
    .icon{width: 60px; margin: 0 auto 24px;}
    h4{margin-bottom: 12px;}
    p{max-width: 230px; margin: 0 auto;}
  }
  .procedure{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 80px;
    margin: 70px 0 40px;
    .text{min-height: 75px;}
    .item{text-align: center;}
    .icon{width: 70px; height: 70px; display: flex; align-items: flex-end; margin: 0 auto 18px;}
  }
}
.wealify-utilities{
  padding: 110px 0 0;
  background: linear-gradient(180deg, rgba(254, 235, 234, 0.55) 0%, rgba(254, 235, 234, 0.00) 68.6%);
  position: relative;
  &::after,&::before{
    content: "";
    position: absolute;
  }
  &::before{
    width: 282px; height: 518px;
    background: url("#{$img-path}/bg-s3-1.svg") no-repeat 0 0/contain;
    left: 0; top: 270px;
  }
  &::after{
    width: 338px; height: 518px;
    background: url("#{$img-path}/bg-s3-2.svg") no-repeat 0 0/contain;
    right: 0; top: 280px;
  }
  .container{position: relative; z-index: 2;}
  .header{margin-bottom: 108px;}
  .title{max-width: 375px; margin-bottom: 32px;}
  .img-wrapper{width: 31%; margin-left: 2%;}
  .utilities-list{
    width: 67%; margin: -100px 0 0 0; padding-left: 5.6%;
    .col{padding: 0 20px;}
    .col:nth-child(1){margin-top: -96px;}
  }
  .item{
    margin-bottom: 40px;
    max-width: 347px;
    padding: 30px 20px;
    border-radius: 20px;
    background: #F5F5F5;
    &:last-child{margin-bottom: 0;}
    .icon{width: 42px;}
  }
  h4{margin-bottom: 9px;}
  .content{width: calc(100% - 42px); padding-left: 20px;}
  .text-des{max-width: 340px;}
}
.wealify-transaction{
  padding: 137px 0;
  background: #111;
  .title{max-width: 1017px; margin: 0 auto 100px; color: #fff; text-align: center;}
  .list-feature{
    padding: 27px 0 0 20px; color: #fff;
    >*+*{margin-top: 60px;}
    .icon{width: 60px;}
    h4{margin-bottom: 14px;}
    p{font-weight: 600;}
    .content{width: calc(100% - 60px); max-width: 392px; padding-left: 25px;}
  }
  video{width: 100%;}
}
.wealify-feedback{
  &::after{
    content: "";
    width: 831px; height: 1129px;
    background: url("#{$img-path}/bg-dc-feedback.svg") no-repeat 0 0/contain;
    position: absolute; left: 0; top: 250px; z-index: -1;
  }
  .feedback{
    padding: 96px 77px;
    background: url("#{$img-path}/bg-h-f4.svg") no-repeat 0 0/cover;
    border-radius: 20px;
    &.bg-pink{background: #FEEBEA; padding: 0;}
    &.p-sm{padding: 38px 0 38px 72px;}
    &__content{
      width: 49%; margin-right: -2%;
      .text{min-height: 220px;}
    }
    &__img{width: 53%;}
    .img-wrapper,.content{width: 50%;}
    .img-wrapper img{width: 100%; object-fit: cover; border-radius: 20px 0 0 20px;}
    .content{
      display: flex; flex-direction: column; justify-content: center;
      padding: 60px;
      .text{min-height: 270px;}
    }

  }
  h4{margin-bottom: 40px}
  .text{
    max-width: 951px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 36px; line-height: 48px;
    &.sm{font-size: 24px; line-height: 38px;}
  }
  .box-btn{margin-top: 60px;}
  .slick-arrow{
    width: 42px; height: 42px;
    background: url("#{$img-path}/next.svg") no-repeat 0 0/contain;
    font-size: 0;
    position: absolute; bottom: 0; z-index: 2;
    &:hover{filter: invert(1);}
  }
  .slick-next{right: 0;}
  .slick-prev{right: 52px; transform: rotate(180deg);}
}
.wealify-register{
  padding: 116px 0;
  background: linear-gradient(23deg, #FB4034 0%, #FF814A 80%);
  color: #fff;
  h5{margin-bottom: 12px;}
  .title{margin-bottom: 40px; color: #fff;}
  .form-register{
    input{
      height: 52px;
      width: 100%;
      max-width: 440px;
      padding: 0 24px;
      font-weight: 600;
      border-radius: 5px 0 0 5px;
      background: #fff;
      border: none;
      color: #888888;
      &:focus{outline: none;}
    }
    .btn-submit{
      background: var(--black);
      padding: 14px 30px;
      border-radius: 0 5px 5px 0;
      color: #fff; font-weight: 700;
    }
  }
}
.setup-list{
  margin: 0 -15px;
  .slick-list{padding: 70px 70px 70px 0;}
  .item{
    display: flex; align-items: flex-start;
    padding: 20px;
    margin: 0 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
  }
  .img img{width: 50px;}
  .content{width: calc(100% - 50px); padding-left: 12px;}
  h4{margin-bottom: 4px;}
  p{margin-bottom: 12px; font-weight: 600;}
  .btn-setup{
    display: inline-block;
    padding: 4px 15px;
    background: #F5F5F5;
    border-radius: 5px;
    color: var(--black);
    &:hover{background: #e1e0e0;}
  }
}
.formation{
  margin: 140px 0 86px;
  >*+*{border-top: 1px solid #EDEDED;}
  .info-list{padding: 5px 0;}
  li{padding: 22px 0;}
  h3{margin-right: 40px; padding: 10px 0; font-weight: 600; font-size: 62px; line-height: 76px;}
  .lb{
    margin: 5px 40px 5px 0;
    padding: 9px 20px;
    background: #F5F5F5;
    border-radius: 9999px;
    &::before{
      content: "";
      width: 8px; height: 8px; border-radius: 50%;
      display: block; margin-right: 8px;
      background: linear-gradient(135deg, #FF843D 0%, #FF5942 100%);
    }
  }
}
.box-table{
  overflow: auto;
  &.border{border: 1px solid #ddd; border-radius: 5px;}
  .table-price{
    th:nth-child(2){color: #1CBD70;}
    th:nth-child(3){color: #F42D2D;}
    th,td{
      padding: 14px 10px; text-align: center;
      border-right: 1px solid #dddddd;
      &:last-child{border-right: none;}
    }
    th{ border-bottom: 1px solid #dddddd;}
    th{background: none; font-weight: 700;}
    tr:last-child td{ border-bottom: none;}
  }
  .coin{
    &__img{width: 28px; height: 28px;}
    &__info{text-align: left; padding-left: 8px;}
    p{font-weight: 600; font-size: 15px; line-height: 1.3;}
    span{font-size: 14px; line-height: 24px; font-weight: 500;}
  }
  .currency{
    &__icon{width: 24px; height: 24px; margin-left: 0;}
    &__name{padding-left: 8px;}
  }
  table{
    width: 100%; border-collapse: collapse;
    th{background: #FAFAFA; color: #666666; font-weight: 600;}
    th,td{
      padding: 13px 20px; text-align: left;
    }
    .flex-lc{flex-wrap: nowrap;}
    td{ border-bottom: 1px solid #dddddd;}
  }
  .txt span{margin-left: 4px;}
  .down{color: #F42D2D;}
  .up{color: #1CBD70;}
  .icon{width: 16px; height: 16px; display: block; margin-left: 8px;}
  .icon-up{background: url("#{$img-path}/arrow-up-1.svg") no-repeat 0 0/contain;}
  .icon-down{background: url("#{$img-path}/arrow-down-2.svg") no-repeat 0 0/contain;}
  .arrow-up{width: 14px; height: 14px; margin-left: 4px; background: url("#{$img-path}/arrow-down-3.svg") no-repeat;}
}
.box-tab{
  padding: 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
  .tab{
    border: 1px solid #ddd; border-radius: 5px;
    >*+*{border-left: 1px solid #ddd;}
    li{width: 50%;}
    a{display: block; height: 100%; padding: 14px 0; font-weight: 700; font-size: 14px; color: var(--black); text-align: center; position: relative;}
    .active{
      color: #FC553B;
      &::after{
        content: "";
        width: 100%; height: 1px;
        background: #FC553B;
        position: absolute; bottom: -1px; left: 0;
      }
    }
  }
  .item{
    justify-content: space-between;
    padding: 15px 30px 20px;
    border-radius: 5px;
    background: #F5F5F5;
    > div{max-width: 50%;}
    h5{margin-bottom: 10px; color: #666666;}
    .bal,input{color: #ABABAB; font-size: 32px; line-height: 1;}
    input{width: 90%; color: #111; border: none; padding: 0; background: none; font-weight: 700;}
    input::placeholder{color: #ABABAB;}
    input:focus{outline: none;}
  }
  .selected{
    padding: 10px 12px;
    background: #fff;
    border-radius: 20px;
    .name{padding: 0 6px;}
    .icon-arr{width: 14px; height: 14px; background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;}
  }
  .currency{margin-bottom: 10px; color: #666666; text-align: right;}
  .exchange{margin: 14px 0 28px; font-weight: 500; color: #666666;}
  .btn-transfer,.arrow-down{
    width: 52px; height: 52px; display: block;
    background: url("#{$img-path}/arrow-down-2.svg") no-repeat 0 0/contain;
    margin: 16px auto;
  }
  .box-btn{
    display: flex; justify-content: flex-end;
    button,a{width: 49%;}
  }
  button{height: 52px; border-radius: 5px;}
  .btn-arlet{
    border: 1px solid #111;background: #FFF; color: var(--black);
    &:hover{color: #6a6a6a;}
  }
  .btn-submit{
    background: var(--black); color: #fff;
    &:hover{color: #ccc;}
  }
}
.rating{
  margin-bottom: 20px;
  width: 91px; height: 15.5px;
  &__value{height: 100%; background: url("#{$img-path}/star.png") repeat-x;}
}
.box-select{
  img{width: 24px; height: 24px; border-radius: 50%; object-fit: cover;}
  .selected{
    cursor: pointer; flex-wrap: nowrap;
    .name{flex: 1;}
    &::after{
      content: "";
      width: 14px; height: 14px;
      background: url("#{$img-path}/arrow-down.svg") no-repeat;
    }
  }
  &.show{
    .selected::after{transform: rotate(180deg);}
    .select-list{opacity: 1; visibility: visible; z-index: 2;}
  }
  .select-list{
    width: 100%; min-width: 220px;
    background: #fff;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.06);
    position: absolute; right: 0; opacity: 0; visibility: hidden; overflow: hidden; z-index: -1;
    li{padding: 10px 40px 10px 14px; cursor: pointer; position: relative;}
    li:hover,.active{
      background: #f7f7f7;
      &.active::after{opacity: 1;}
    }
    li::after{
      content: "";
      width: 20px; height: 20px;
      background: url("#{$img-path}/check.svg") no-repeat 0 0/contain;
      position: absolute; right: 14px; top: 50%; transform: translateY(-50%); opacity: 0;
    }
    span{padding-left: 8px; font-weight: 700; font-size: 14px; line-height: 24px;}
  }
}

//core api
.wealify-api-s1{
  padding: 85px 0 0;
  &::after{
    content: "";
    width: 100%; height: 1744px;
    background: url("#{$img-path}/bg-dc-api-s1.svg") no-repeat 0 0/cover;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  .header{max-width: 960px; margin: 0 auto;}
  .img-wrapper{max-width: 1084px; margin: 5px auto -28px;}
  h1{margin-bottom: 28px;}
  p{max-width: 800px; margin: 0 auto 32px;}
  .btn-pr{width: 171px; padding: 0; margin: 0 auto;}
}
.wealify-api-s2{
  background: #0A0A0A; padding: 110px 0; overflow: hidden;
  .header{
    margin-bottom: 76px; color: #fff;
    position: relative; z-index: 2;
    p{max-width: 590px;}
  }
  .title{max-width: 575px; margin-bottom: 50px; color: #fff;}
  .worldmap{width: 720px; position: absolute; right: 0; top: 0; animation: rotate 20s infinite linear;}
  .statistical{
    display: grid; grid-template-columns: repeat(5,1fr); grid-gap: 30px; position: relative; z-index: 2;
    .data{margin-bottom: 4px; color: #FF5942; font-weight: 600; font-size: 52px; line-height: 64px;}
    .text{font-weight: 600; font-size: 14px; line-height: 22px; color: #fff;}
  }
}
.wealify-api-s3{
  padding: 80px 0;
  .header{max-width: 1000px; text-align: center;}
  .feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 33px;
  }
  .item{
    display: flex; flex-direction: column; justify-content: space-between;
    padding: 45px 24px 0; background: #F5F5F5; border-radius: 20px; overflow: hidden;
    img{margin: 64px auto 0;}
  }
}

//about
.wealify-about{
  padding: 96px 0 112px;
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::before{
    width: 949px; height: 475px; max-width: 100%;
    background: url("#{$img-path}/bg-dc-about-2.svg") no-repeat 0 0/contain;
    top: 0; left: 0; right: 0; margin: 0 auto;
  }
  &::after{
    width: 100%; height: 991px;
    background: url("#{$img-path}/bg-dc-about-1.svg") no-repeat center center/cover;
    top: 0; left: 0;
  }
  .content{max-width: 502px; padding: 10px 0 0 50px;}
  .title{max-width: 335px;}
  .text-des{max-width: 816px; margin: 0 auto;}
  .img-wrapper img{border-radius: 20px;}
}
.wealify-drivers{
  padding: 0 0 110px;
  .container{max-width: 1346px; padding: 110px 52px; border-radius: 20px; background: #FEEBEA;}
  .driver-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    .img-wrapper{margin-bottom: 30px;}
    .icon{width: 52px; height: 52px;}
    h4{margin-bottom: 12px;}
    p{font-weight: 600;}
  }
}
.wealify-branch{
  &::after{
    content: "";
    width: 929px; height: 1174px;
    background: url("#{$img-path}/bg-dc-global.svg") no-repeat bottom center/cover;
    position: absolute; right: 0; top: 0; z-index: -1;
  }
  .branch-list{
    display: grid;
    grid-template-columns: repeat(3,minmax(auto,392px));
    grid-gap: 30px;
    justify-content: center;
  }
  .branch{
    padding: 54px 41px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    .icon{
      margin: 0 0 30px; width: 84px;
      img{width: 100%;}
    }
    h4{margin-bottom: 10px;}
    .info{
      max-width: 236px;
      >*+*{margin-top: 10px;}
      a{color: var(--black); text-decoration: underline;}
    }
    .mail a{color: #FF5942; text-decoration: underline;}
  }
}
.wealify-join{
  padding-top: 40px;
  background: linear-gradient(180deg, #FFF 4.43%, #FFEFED 100%);
  &::after{
    content: "";
    width: 921px; height: 337px;
    background: url("#{$img-path}/bg-dc-join.svg") no-repeat 0 0/contain;
    position: absolute; bottom: 0; left: 52%; transform: translateX(-50%);
  }
  .container{position: relative; z-index: 2;}
  .content{margin-left: 118px; max-width: 440px;}
  .img-wrapper{width: 348px;}
}

//cardeer
.wealify-career-s1{
  padding: 120px 0 230px;
  background: linear-gradient(0deg, #FFDEDE 0%, #FEEDED 0%, rgba(255, 222, 222, 0.00) 87.83%);
  &::before,&::after{content: ""; position: absolute;}
  &::before{
    width: 1344px; height: 499px;
    background: url("#{$img-path}/bg-dc-career-1.svg") no-repeat bottom center/contain;
    bottom: 48px; left: 50%; transform: translateX(-50%);
  }
  &::after{
    width: 100%; height: 1744px;
    background: url("#{$img-path}/bg-dc-career-2.svg") no-repeat bottom center/100% 100%;
    left: 0; top: 0;
  }
  .content{z-index: 2;}
  .text{max-width: 610px; margin: 0 auto 32px;}
}
.wealify-career-s2{
  padding: 85px 0 130px; position: relative; z-index: 2;
  .header{max-width: 840px; text-align: center;}
  .grid{
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
  }
  .item{
    padding: 45px 18px;
    border-radius: 20px;
    background: rgba(245, 245, 245, 0.70);
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.05);
  }
  h4{max-width: 90%; min-height: 52px;}
}
.wealify-career-s3{
  position: relative; z-index: 2;
  .job-list{
    >*+*{margin-top: 28px;}
    li{
      display: flex; align-items: center;
      justify-content: space-between;
      padding: 25px 30px;
      border-radius: 20px;
      border: 1px solid #EDEDED;
      background: #fff;
      box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.05);
    }
    h4{width: calc(100% - 150px); color: #888;}
    a{color: var(--orange); border-bottom: 1px solid currentColor;}
    a:hover{color: #000;}
  }
}
.wealify-career-s4{
  .grid{grid-template-columns: repeat(4,1fr); grid-gap: 30px;}
  .item{
    padding: 52px 16px;
    border-radius: 12px;
    border: 1px solid #EDEDED;
    background: #fff;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    &:hover{
      img{transform: scale(1.1);}
    }
    p{margin-top: 20px; text-align: center; color: #111;}
    img{margin: 0 auto; transition: .6s;}
  }
}

//partnership
.wealify-partner-s1{
  padding: 186px 0 325px;
  &::after{
    content: "";
    width: 100%; height: 1656px;
    background: url("#{$img-path}/bg-dc-partnership-1.svg") no-repeat 0 0/cover;
    position: absolute; left: 0; top: 0; z-index: -1;
  }
  .content{max-width: 430px;}
  .img-wrapper{position: absolute; right: 0; top: 160px;}
}
.wealify-partner-s2{
  .img-wrapper{position: absolute; left: 0;}
  .feature{
    padding: 105px 0 132px; margin-left: 630px;
    >*+*{margin-top: 50px;}
  }
}
.wealify-partner-s3{
  .header{max-width: 800px;}
  .box-slider{margin-left: calc((100% - 1250px)/2);}
  .feedback-slider{margin: 0 -15px;}
  .item{
    max-width: 393px;
    padding: 40px 33px;
    margin: 0 15px;
    border-radius: 20px;
    background: #F5F5F5;
  }
  .text-review{min-height: 220px;}
  .author{margin-top: 20px;}
  .nav-feedback{
    margin-top: 60px;
    .slick-arrow{
      width: 42px; height: 42px; display: block;
      margin-left: 10px;
      background: #F5F5F5 url("#{$img-path}/arrow-right-1.svg") no-repeat center center; border-radius: 50%;
    }
    .btn-prev{transform: rotate(180deg);}
  }
}
.progress {
  display: block;
  width: 70%;
  margin: 0 16px 0 0;
  height: 2px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #EDEDED;
  background-image: linear-gradient(to right, #000 , #000 );
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s ease-in-out;
}

//faq-contact
.wealify-help{
  padding: 90px 0;
  background: linear-gradient(0deg, #FFDEDE 0%, #FEEDED 0%, rgba(255, 222, 222, 0.00) 100%);
  .box-search{
    h5{margin-bottom: 12px;}
  }
  form{
    max-width: 600px; margin: 0 auto;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    input{
      width: 100%; height: 56px;
      padding: 0 23px;
      background: #fff;
      border-radius: 5px;
      font-weight: 600;
      color: #333;
      border: none;
      &:focus{outline: none;}
      &::placeholder{color: #888888;}
    }
    .btn-submit{
      width: 24px; height: 24px;
      background: url("#{$img-path}/icon-search.svg") no-repeat 0 0/contain;
      position: absolute; top: 15px; right: 17px;
    }
  }
  .tag-list{
    a{margin: 0 11.5px; color: var(--black); font-weight: 600;}
    a:hover{color: #FF5942;}
  }
  .questions{
    margin-top: 110px;
  }
  .question-list{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;
    a{
      display: flex; flex-direction: column;
      justify-content: flex-end;
      padding: 30px 5px 25px;
      border-radius: 20px;
      background: var(--white, #FFF);
      box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
      text-align: center;
      color: var(--black);
    }
    img{display: block; margin: 0 auto 28px;}
  }
}
.wealify-faqs{
  padding: 100px 0;
  .faq-list{
    width: 25.4%;
    padding-left: 30px;
    border-left: 1px solid #EDEDED;
    .item{
      margin-bottom: 24px; position: relative;
      &__header{cursor: pointer;}
      &__content{padding-top: 8px;}
    }
    .item:last-child{margin-bottom: 0;}
    .active{
      &::before{
        content: "";
        width: 3px; height: 40px;
        background: #FF5942;
        position: absolute; top: 0; left: -32px;
      }
      h4::after{transform: rotate(0deg);}
    }
    h4::after{
      content: "";
      width: 16px; height: 16px; display: block;
      margin-left: 8px;
      background: url("#{$img-path}/arrow-down-4.svg") no-repeat 0 0/contain;
      filter: brightness(0);
      transform: rotate(180deg);
    }
  }
  ul{
    li{padding: 8px 0;}
    a{font-weight: 600; font-size: 15px; line-height: 24px; color: #888888;}
    a:hover{color: var(--black);}
    .active{color: #FF5942;}
  }
  .box-answer{
    width: 66%;
    article{color: #888;}
  }
  .box-feedback{
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #EDEDED;
    button{
      height: 44px;
      margin-left: 16px;
      padding: 0 20px;
      border-radius: 5px;
      border: 1px solid #DDD;
      text-transform: uppercase;
      &:hover{background: #ddd;}
      .icon{width: 24px; height: 24px; margin-left: 8px;}
    }
    .icon-yes{background: url("#{$img-path}/icon-yes.svg") no-repeat;}
    .icon-no{background: url("#{$img-path}/icon-no.svg") no-repeat;}
  }
}
.wealify-contact{
  padding: 37px 0 100px;
  &::before,&::after{content: ""; position: absolute; z-index: -1;}
  &::before{
    width: 100%; height: 635px;
    background: linear-gradient(0deg, #FFF 0%, #FEEEEE 100%);
    left: 0; top: 0;
  }
  &::after{
    width: 265px; height: 518px;
    background: url("#{$img-path}/bg-dc-contact-1.svg") no-repeat 0 0/contain;
    left: 0; top: 84px;
  }
  .container::after{
    content: "";
    width: 316px; height: 518px;
    background: url("#{$img-path}/bg-dc-contact-2.svg") no-repeat 0 0/contain;
    right: 0; top: 84px; position: absolute;
  }
  .header{
    max-width: 605px; margin: 0 auto 40px;
    p{margin-bottom: 25px;}
    a{display: inline-block; color: #FF5942; border-bottom: 1px solid #FF5942; line-height: 1;}
  }
  .form-contact{
    max-width: 668px; margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    .form-group{margin-bottom: 24px;}
    label{width: 100%; margin-bottom: 12px; font-size: 14px; line-height: 24px; font-weight: 600; color: #888888;}
    input,textarea,select{
      width: 100%;
      padding: 5px 15px;
      border-radius: 5px;
      border: 1px solid #DADADA;
      font-weight: 600;
      font-size: 15px;
      &:focus{outline: none; border: 1px solid #333;}
    }
    input,select{height: 44px;}
    textarea{height: 150px;}
  }
  .box-select{
    .selected{padding: 5px 15px; border: 1px solid #DADADA; border-radius: 5px; height: 44px; font-weight: 600;}
  }
  .upload{
    min-height: 100px;
    padding: 16px;
    border-radius: 5px;
    border: 1px dashed #DADADA;
    background: #FCFCFC;
    color: #888888;
    p{font-size: 13px; font-weight: 600;}
    input{width: 100%; height: 100%; position: absolute; opacity: 0; cursor: pointer;}
    span{color: #FF5942;}
  }
  .image-holder{
    margin-top: 20px;
    .img{
      padding: 5px; border-radius: 9px;
      width: 120px; height: 120px;
      border: 1px dashed #DADADA;
      position: relative;
    }
    img{height: 100%; width: 100%; object-fit: cover; border-radius: 4px;}
    .cancel{padding: 0 4px; background: #c00; color: #ccc; font-weight: 500; position: absolute; top: 5px; right: 5px;}
  }
}
.wealify-faq-s1{
  padding: 80px 0 110px;
  .container{max-width: 1170px;}
  &::after{
    content: "";
    width: 100%; height: 1744px;
    background: url("#{$img-path}/bg-dc-api-s1.svg") no-repeat 0 0/cover;
    position: absolute; top: -50px; left: 0; z-index: -1;
  }
  .header{max-width: 840px;}
}
.wealify-faq-s2{
  padding-bottom: 130px;
  .header{max-width: 680px;}
}
.wealify-question{
  padding: 80px 0 110px;
  .container{max-width: 1170px;}
  &::after{
    content: "";
    width: 100%; height: 1990px;
    background: url("#{$img-path}/bg-dc-contact-3.svg") no-repeat 0 0/100% 100%;
    position: absolute; top: 0px; left: 0; z-index: -1;
  }
  .header{max-width: 840px;}
}
.wealify-support{
  .header{max-width: 790px;}
  .container{
    padding:  76px;
    border-radius: 20px;
    background: #FEEBEA;
  }
  .support-list{
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 70px;
    grid-row-gap: 55px;
  }
  .img{width: 50px;}
  .info{
    width: calc(100% - 50px); padding-left: 20px;
    p{margin-top: 10px;}
    a{color: #111; text-decoration: underline;}
  }
}
.wealify-blog{
  padding: 80px 0; overflow: hidden;
  .img-wrapper{margin-left: -120px;}
  .container{position: relative; z-index: 2;}
  &::after,&::before{
    content: "";
    position: absolute;
  }
  &::before{
    width: 282px; height: 518px;
    background: url("#{$img-path}/bg-s3-1.svg") no-repeat 0 0/contain;
    left: 0; top: 90px;
  }
  &::after{
    width: 338px; height: 518px;
    background: url("#{$img-path}/bg-s3-2.svg") no-repeat 0 0/contain;
    right: 0; top: 100px;
  }
}


.faq-category{
  grid-template-columns: repeat(4,1fr); grid-column-gap: 30px; grid-row-gap: 40px;
  a{
    min-height: 260px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    padding: 16px;
    border-radius: 20px;
    background: rgba(245, 245, 245, 0.70);
    box-shadow: 0px 34px 44px 0px rgba(0, 0, 0, 0.07);
    color: #111; text-align: center;
  }
  img{transition: .5s;}
  a:hover{
    img{transform: scale(1.06);}
  }
}

//news
.wealify-news{
  padding: 60px 0;
  &::before,&::after{content: ""; position: absolute; z-index: -1;}
  &::before{
    width: 100%; height: 635px;
    background: linear-gradient(0deg, #FFF 0%, #FEEEEE 100%);
    left: 0; top: 0;
  }
  .page-title{font-weight: 600; font-size: 34px; line-height: 48px;}
  h3 a{color: #111;}
  h3 a:hover{color: var(--orange);}
  p a{color: #111; text-decoration: underline;}
  p a:hover{color: var(--orange);}
  time{display: block; color: #888;}
  .readmore{
    padding-bottom: 2px; border-bottom: 1px solid currentColor; color: #111;
    &:hover{color: var(--orange);}
  }
  .thumb{
    display: block; overflow: hidden;
    img{transition: .6s;}
    &:hover img{transform: scale(1.08);}
  }
  .container{max-width: 1200px;}
  .news-hightlight{
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 10px; overflow: hidden;
    .thumb,.content{width: 50%;}
    .content{padding: 52px 45px;}
    h3{font-size: 26px; font-weight: 600; line-height: 34px;}
  }
  .category{
    display: inline-block;
    padding: 4px 9px;
    background: #FF5942;
    border-radius: 9999px;
    color: #fff;
    font-weight: 800;
    font-size: 10px; line-height: 14px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
  .news-list{
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    .thumb{overflow: hidden; border-radius: 10px;}
    p,h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .box-nav{
    margin: 60px 0 40px;
  }
  .tab{
    >*+*{margin-left: 40px;}
    a{padding-bottom: 2px; font-weight: 700; font-size: 15px; line-height: 24px; color: #111; border-bottom: 1px solid transparent;}
    .active{border-color: #111;}
  }
  .box-select{
    margin-left: auto;
    .name{padding: 0 6px;}
    .selected {
      padding: 10px 12px;
      background: #fff;
      border-radius: 9999px;
      box-shadow: 0px 11px 20px 0px rgba(0, 0, 0, 0.07);
    }
  }
  .detail{
    color: #888; padding-bottom: 40px; border-bottom: 1px solid #EDEDED;
    p{margin-bottom: 30px;}
    span{display: block;}
  }
  .tags,.share{
    h5{margin: 0 12px 0 0; font-weight: 800; font-size: 13px; line-height: 20px; color: #888; text-transform: uppercase;}
  }
  .tags{
    a{margin: 8px; font-weight: 700; font-size: 14px; line-height: 24px; color: #111;}
    a:hover{color: var(--orange);}
  }
  .social{
    a{width: 24px; height: 24px; display: block; margin-left: 8px; font-size: 0;}
    a:nth-child(1){background: url("#{$img-path}/fb.svg") no-repeat;}
    a:nth-child(2){background: url("#{$img-path}/tw.svg") no-repeat;}
    a:nth-child(3){background: url("#{$img-path}/in.svg") no-repeat;}
  }
  .box-detail{padding-right: 99px; border-right: 1px solid #EDEDED;}
  .category-list{
    >*+*{margin-top: 8px;}
    li a{font-weight: 600; font-size: 14px; line-height: 24px; color: #111;}
    a:hover{color: var(--orange);}
  }
  .related-post{
    padding: 90px 0 40px;
    h2.title{margin-bottom: 40px; font-size: 30px; line-height: 44px;}
  }
}

.page-coverter{
  header{
    &.scroll{background: var(--black);}
    .login{
      .btn-login{
        color: #fff;
        &:hover{border-bottom: 1px solid #fff;}
      }
      .btn-register{border: 1px solid #fff; color: #fff;}
      .arrow-right{filter: invert(1);}
    }
  }
  .navbar-nav{
    > li > a{color: #fff;}
    > li:hover{border-bottom: 1px solid #fff;}
    .show-menu{background: url("#{$img-path}/arrow-down-white.svg") no-repeat;}
  }
}
.bg-dc-virtual{
  &::after,&::before{content: ""; position: absolute;}
  &::before{
    width: 1035px; height: 838px;
    background: url("#{$img-path}/bg-d-virtual.svg") no-repeat 0 0/contain;
    top: 0; right: 0;
  }
  &::after{
    width: 732px; height: 545px;
    background: url(#{$img-path}/map.png), 50% / cover no-repeat;
    right: 0; top: 114px; opacity: .3; z-index: -1;
  }
}
.bg-dc-company{
  &::after{
    content: "";
    width: 100%; height: 1744px;
    background: url("#{$img-path}/bg-d-company.svg") no-repeat 0 0/cover;
    position: absolute; right: 0; top: -200px; z-index: -1;
  }
}
.bg-dc-desk{
  &::after,&::before{content: ""; position: absolute; z-index: -1;}
  &::after{
    width: 1042px; height: 1154px;
    background: url("#{$img-path}/bg-d-desk-1.svg") no-repeat 0 0/contain;
    right: 0; top: 109px;
  }
  &::before{
    width: 1440px; height: 857px;
    background: url("#{$img-path}/bg-d-desk-2.svg") no-repeat 0 0/contain;
    right: 0; top: 0;
  }
}


footer{
  background: var(--black);
  padding-top: 82px;
  position: relative;
  .flex > div{margin-bottom: 20px;}
  .col-m-4{width: 287px; margin-right: 138px;}
  .col-m-2{width: 120px; margin-right: 92px;}
  .col-m-2:last-child{margin-right: 0;}
  .col-m-3{width: 176px; margin-right: 36px;}
  h4{
    margin-bottom: 18px;
    font-weight: 800;
    font-size: 13px; color: #888888;
    line-height: 20px; letter-spacing: 0.52px;
    text-transform: uppercase;
  }
  .link{
    a{color: #fff; font-weight: 600; font-size: 13px; line-height: 30px;}
    a:hover{color: var(--orange);}
  }
  .logo{width: 182px; display: block; margin-bottom: 32px;}
  .text{margin-bottom: 12px; color: #888;}
  .btn-more{
    padding-right: 16px;
    background: url("#{$img-path}/arrow-down-1.svg") no-repeat right center;
    color: #fff;
    &:hover{border-bottom: 1px solid #fff;}
  }
  .bottom{
    margin-top: 95px;
    padding: 30px 0;
    .menu{
      >*+*{margin-left: 40px;}
      a{color: #fff;}
      a:hover{color: #ccc;}
    }
    .copyright{
      margin: 0 0 0 auto;
      color: #fff;
    }
  }
  .social{
    margin-top: 28px;
    >*+*{margin-left: 34px;}
    i{color: #fff; font-size: 20px;}
  }
}

@-webkit-keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.select2-container{
  background: #fff;
  border: 1px solid #DADADA;
  border-radius: 5px;
  .selection{}
  &:focus{outline: none;}
}
.select2{width: 100% !important;}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 15px;
  padding-right: 15px;
  color: var(--black);
  font-size: 15px;
  font-weight: 600;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 12px;}
.select2-container .select2-selection--single{height: 44px; width: 100%;}
.select2-container--default .select2-selection--single{border: none; background: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 42px; width: 32px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open .select2-dropdown--below{
  padding: 15px;
  margin-top: 4px;
  background: #fff;
  box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
  border-radius: 8px;
  border: 1px solid #D5D5D7;
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 12px; height: 12px;
  background: url("#{$img-path}/arrow-down-5.svg") no-repeat 0 0/contain;
  top: 54%; transform: translate(-50%,-50%); left: 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translate(-50%,-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  >*+*{margin-top: 16px;}
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #4E4C50
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  padding-right: 18px;
  background: url("#{$img-path}/tick-1.svg") no-repeat right center;
  color: #140000; font-weight: 500;
}


//uikit
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.grid{display: grid;}
.bg-sh{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}
.tag{
  display: inline-block;
  margin-bottom: 20px;
  padding: 7.5px 19px;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.52px;
  text-transform: uppercase;
  border: 1px solid #FF5942;
  color: #FF5942;
  border-radius: 9999px;
}
.arrow-right{width: 16px; height: 16px; margin-left: 4px; background: url("#{$img-path}/arrow-right.svg") no-repeat 0 0/contain;}
.text-justify{text-align: justify;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-sm{margin-bottom: 32px;}
.mt-sm{margin-top: 32px;}
.mb-xs{margin-bottom: 24px;}
.mb-md{margin-bottom: 50px;}
.mb-lg{margin-bottom: 120px;}
.mt-md{margin-top: 80px;}
.py-lg{padding: 120px 0;}
.pt-lg{padding-top: 120px;}

h1{color: var(--black); margin-bottom: 10px; font-weight: 700; font-size: 40px; line-height: 60px;}
.title{
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: var(--black);
  span{color: #888888;}
  &.white{color: #fff;}
  &.sm{font-size: 40px; line-height: 56px;}
  &.xs{font-size: 34px; line-height: 48px;}
}
.center{text-align: center;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-xs{font-size: 13px; line-height: 22px;}
.txt-sm{font-size: 15px; line-height: 26px; font-weight: 600;}
.txt-md{font-size: 19px; line-height: 24px;}
.txt-lg{font-size: 36px; line-height: 48px; font-weight: 600;}
.txt-xl{font-size: 60px; line-height: 86px; font-weight: 700;}
.txt-black{color: var(--black);}
.font-bold{font-weight: 700;}
.font-semibold{font-weight: 600;}
button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.box-btn{
  >*+*{margin-left: 20px;}
}
.btn-pr,.btn-sub{
  display: flex; align-items: center;
  font-weight: 700;
  font-size: 13px; line-height: 24px;
}
.btn-pr{
  height: 44px;
  background: #000;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: 8px;
  color: #fff;
  .arrow-right{filter: invert(1); transition: .3s;}
  &.white{
    background: #fff; color: var(--black);
    .arrow-right{filter: invert(0);}
    &:hover{color: var(--black); background: #efecec;}
    &:hover .arrow-right{filter: invert(0);}
  }
  &:hover{
    color: #ccc;
    .arrow-right{filter: invert(.8); transform: translateX(3px);}
  }
}
.btn-sub{
  border-bottom: 1px solid var(--black);
  color: var(--black);
  &.white{color: #fff; border-color: #fff;}
  &:hover{color: #e57764; border-bottom: 1px solid #e57764;}
}
.breadcrumb{
  padding: 27.5px 0; background: none; margin-bottom: 0;
  a{font-weight: 500; color: #726666;}
  .active{font-weight: 700; color: var(--black);}
  .breadcrumb-item + .breadcrumb-item::before{font-weight: 400; padding-right: .1rem;}
  .breadcrumb-item + .breadcrumb-item{padding-left: .1rem;}
}
.check-list{
  margin: 25px 0 40px;
  >*+*{margin-top: 16px;}
  li{
    padding-left: 40px;
    list-style: none;
    font-weight: 600; font-size: 13px; line-height: 24px;
    position: relative;
    &::before{
      content: "";
      width: 24px; height: 24px;
      background: url('#{$img-path}/tick.svg') no-repeat 0 0/contain;
      position: absolute; left: 0; top: 0;
    }
  }
}
.slick-dots{
  display: flex; justify-content: center; margin-top: 50px;
  li{margin: 0 10px;}
  button{
    width: 40px;
    height: 6px;
    background: #D9D9D9;
    border-radius: 4px;
    font-size: 0;
  }
  .slick-active button{background: var(--orange);}
}

@media (min-width: 1336px) {
  .container{max-width: 1270px;}
}
@media (max-width: 1440px) {
  .wealify-wallet{padding: 20px 0 125px;}
  .wealify-work{padding-bottom: 100px;}
  .wealify-statistical,.wealify-advantage{padding: 140px 0;}
  .wealify-career-s3{
    .job-list > * + *{margin-top: 20px;}
  }
}
@media(max-width: 1280px){
  .navbar-nav{padding-left: 0;}
  .wealify-discover{
    .header{
      .text{margin-left: 5%;}
    }
    .item{
      &__img,&__content{max-width: 47%;}
      &__content{margin-left: 5%;}
    }
  }
  .wealify-intro{
    .img-wrapper{max-width: 50%;}
  }
  .wealify-reviews{
    .reivew-control{margin-right: calc((100% - 1150px)/2);}
  }

  .wealify-feedback{
    .feedback{
      .content .text{min-height: auto;}
    }
  }
  .wealify-support{
    .container{padding: 60px 36px;}
    .support-list{grid-gap: 36px;}
  }
  .wealify-partner-s1{
    padding: 160px 0 260px;
    .img-wrapper{width: 50%;}
  }
  .wealify-partner-s2{
    .img-wrapper{width: 50%;}
  }
  .wealify-partner-s3{
    .box-slider{margin-left: calc((100% - 1140px)/2);}
  }
  .faq-category{
    img{max-width: 80px;}
  }

  .review-list{
    margin-left: calc((100% - 1150px)/2);
  }
}
@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block; position: absolute; right: 0;}
    .container-fluid{padding: 0 15px;}
    .login{
      width: 100%; padding: 0 25px;
      &__before{
        align-items: flex-start; flex-direction: column;
        .btn-login{padding-left: 0; margin-bottom: 30px;}
      }
    }
    &.scroll .navbar{padding: 18px 0;}
  }
  .navbar{
    width: 100%; padding: 20px 0; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: calc(100% - 0px);
    padding: 0 0 15px;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #1C1B1F; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #1C1B1F; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 25px;
    >*+*{margin: 30px 0 0;}
    > li > a{line-height: inherit;}
    > li > .sub-menu{order: 3;}
    > li .show-menu{order: 2;}
    > li:hover{
      border: none;
      .sub-menu{display: block;}
    }
    .active::after{display: none;}
    
    .sub-menu{
      width: 100%; padding: 20px 15px; position: relative; top: 0;  display: none;
      &.lg{
        top: 0; display: none;
        >*+*{margin-top: 30px;}
      }
    }
  }
  .login--mobile{
    display: block;
    padding: 0 15px; width: 100%;
    position: absolute; top: 66px; z-index: 2;
    .login__before{display: flex; justify-content: space-between;}
    .btn-login{color: var(--orange); font-weight: 600;}
    .btn-pr{box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16); }
  }
  main{padding-top: 60px; overflow: hidden;}
  .wealify-work{
    .procedure{grid-gap: 30px;}
  }
  .wealify-utilities{
    .img-wrapper{padding-left: 1%;}
    .utilities-list{
      padding-left: 2%;
      .col{padding: 0 10px;}
    }
    .item{margin-bottom: 20px;}
  }
  .wealify-statistical{
    padding: 120px 0;
    .statistical-list{width: 100%;}
  }
  .wealify-reviews{
    .reivew-control{margin-right: 15px;}
    .review-list{margin-left: 0;}
  }
  .wealify-advantage{
    padding: 120px 0;
    .advantage-list{
      .item{padding: 16px;}
      .img{width: 80px;}
      .content{width: calc(100% - 80px); padding-left: 16px;}
    }
  }
  .box-select{
    .selected{
      padding: 10px;
      .name{line-height: 1.2;}
    }
  }
  .wealify-intro{
    .content{max-width: 50%;}
    .img-wrapper{
      max-width: 52%;
      .img{
        &--2{width: 32%; left: 3%;}
        &--3{width: 35%; left: 40%; animation: movie-x 3s infinite linear;}
      }
    }
    h1{font-size: 50px; line-height: 64px;}
  }
  .wealify-discover{
    &::after{height: 200px;}
    .slick-arrow{top: 36%; width: 36px; height: 36px;}
    .discover-slider:hover{
      .slick-next{right: 0;}
      .slick-prev{left: 0;}
    }
  }
  .wealify-about{
    .content{padding: 0;}
  }

  .wealify-feedback{
    .feedback{
      .content{padding: 30px;}
    }
  }
  .wealify-api-s2{
    .worldmap{width: 50%;}
    .statistical{
      grid-gap: 20px;
      .data{font-size: 50px; line-height: 64px;}
      .text{line-height: 22px;}
    }
  }
  .wealify-faqs{
    padding: 60px 0;
    .faq-list{
      width: 30%;
      h4 span{flex: 1;}
    }
  }
  .wealify-join{
    .content{margin-left: 5%; max-width: 40%;}
    .img-wrapper{width: 34%;}
  }

  .wealify-partner-s1{
    padding: 10vw 0 25vw;
    .content{max-width: 50%;}
    .img-wrapper{top: 15vw;}
  }
  .wealify-partner-s2{
    .feature{
      padding: 3vw 0 0; margin-left: 54%;
      >*+*{margin-top: 3vw;}
    }
  }
  .wealify-partner-s3{
    .box-slider{margin-left: 15px;}
    .feedback-slider{margin: 0 -5px;}
    .item{margin: 0 5px;}
  }
  .wealify-career-s2{
    .grid{grid-gap: 15px;}
    .icon{width: 80px;}
  }
  .wealify-news{
    .news-hightlight{
      align-items: normal;
      .thumb img{height: 100%; object-fit: cover;}
      .content{padding: 20px;}
    }
  }

  .formation{
    h3{font-size: 48px; line-height: 64px;}
  }
  .page-coverter{
    .navbar-toggle{
      span,span::before,span::after{background: #fff;}
    }
  }
  .faq-category{
    grid-gap: 20px;
    a{min-height: 220px;}
  }

  .container{max-width: 100%;}
  .select2-container .select2-selection--single{height: 44px;}
  .select2-container .select2-selection--single .select2-selection__rendered{padding-left: 16px; font-size: 16px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
}

@media (max-width: 820px) {
  .navbar-toggler{margin-left: 0;}

  .wealify-transaction{
    .list-feature{padding: 0;}
  }
  .wealify-reviews{
    padding: 60px 0;
    .title{margin-bottom: 40px;}
    .header{margin-bottom: 30px;}
    .review-list{
      padding-left: 15px;
      .item{padding: 30px 20px; margin: 0 8px;}
    }
  }
  .wealify-statistical{
    .statistical-list{
      grid-gap: 20px;
      li{padding: 0;}
      p{font-size: 40px; line-height: 1.4;}
    }
  }
  .wealify-partners{
    padding: 0 0 80px;
    .partner-list{
      margin-top: 36px;
      .item{margin: 10px 15px;}
    }
  }
  .wealify-intro{
    padding: 60px 0 50px;
    h1{font-size: 40px; line-height: 50px;}
  }
  .wealify-discover{
    padding: 60px 0;
    .header{
      margin-bottom: 30px;
      flex-direction: column; align-items: flex-start;
      .text{margin: 30px 0 0; padding-bottom: 0;}
    }
  }
  .wealify-platform{
    padding: 60px 0 20px;
    .header{
      margin-bottom: 30px;
      flex-direction: column; align-items: flex-start;
    }
    .text-des{padding-bottom: 0; margin: 30px 0 0;}
  }
  .wealify-work{
    .step-list li{width: 22%;}
    .procedure{grid-gap: 20px; margin: 40px 0;}
  }
  .wealify-drivers{
    padding: 0 0 60px;
    .driver-list{grid-gap: 30px;}
    .container{padding: 50px 20px;}
  }


  .wealify-register,.wealify-about{
    padding: 60px 0;
  }
  .wealify-feedback{
    .feedback{padding: 40px;}
    .text{font-size: 32px; line-height: 46px;}
    .img-wrapper img{height: 100%;}
  }
  .wealify-payment{
    padding: 60px 0;
  }
  .wealify-branch{
    padding-bottom: 60px;
    .branch-list{grid-gap: 20px;}
    .branch{
      padding: 26px 16px;
      .icon{width: 60px; margin-bottom: 20px;}
    }
  }
  .wealify-contact{padding-bottom: 60px;}
  .wealify-blog{
    padding: 20px 0 60px;
    .title{text-align: center;}
    .box-btn{justify-content: center;}
    .img-wrapper{margin: 0 auto;}
  }
  .wealify-partner-s3{
    .item{padding: 30px 16px; max-width: 340px;}
    .author >div:nth-child(2){min-height: 48px;}
  }
  .wealify-career-s1{
    padding: 80px 0 100px;
    &::before{width: 100%; bottom: 28px;}
  }
  .wealify-career-s2{
    padding: 60px 0;
    .grid{grid-template-columns: repeat(2,1fr);}
    .item{padding: 25px 16px;}
    h4{min-height: auto;}
  }
  .wealify-career-s4{
    .grid{grid-gap: 15px; grid-template-columns: repeat(3,1fr);}
  }
  .wealify-faq-s2{padding-bottom: 80px;}

  .wealify-help{
    padding: 60px 0;
    &.sm{padding-bottom: 60px;}
    .questions{margin-top: 60px;}
    .question-list{grid-template-columns: repeat(3,1fr);}
  }
  .wealify-question{padding: 60px 0;}

  .wealify-support{
    .support-list{grid-template-columns: repeat(2,1fr); grid-gap: 20px;}
  }
  .wealify-news{
    .news-list{grid-column-gap: 15px; grid-row-gap: 40px;}
  }

  .faq-category{grid-template-columns: repeat(3,1fr);}
  .formation{
    margin: 60px 0;
    li{padding: 15px 0;}
    h3{margin-right: 20px; font-size: 40px; line-height: 1.3;}
    .lb{margin-right: 20px;}
  }
  .setup-list{
    .item{margin: 0 10px;}
  }
  .box-tab{margin-top: 40px;}

  .py-lg{padding: 60px 0;}
  .pt-lg{padding-top: 60px;}
  .mt-md{margin-top: 50px;}
  .mb-lg{margin-bottom: 60px;}
  .txt-lg{font-size: 35px; line-height: 1.4;}
  .title{
    font-size: 46px; line-height: 58px;
    &.xs{font-size: 32px; line-height: 42px;}
    &.sm{font-size: 34px; line-height: 46px;}
  }
}

@media (max-width: 767px) {
  .wealify-wallet{
    padding: 0 0 70px;
    .img-wrapper{
      img{margin: 0 auto;}
    }
    .content{padding-top: 20px;}
    .box-btn{margin-top: 20px;}
  }
  .wealify-work{padding-bottom: 70px;}
  .wealify-utilities{
    padding: 70px 0 0;
    .container > .flex{flex-direction: column-reverse;}
    .title{max-width: 325px;}
    .img-wrapper{width: 70%; padding-left: 0; margin: 30px auto 0;}
    .utilities-list{
      width: 100%; margin: 30px 0 0; padding-left: 0;
    }
    .item{padding: 24px 16px;}
  }
  .wealify-transaction{
    padding: 70px 0;
    .title{margin-bottom: 20px;}
    .img-wrapper{
      margin-bottom: 30px;
      img{margin: 0 auto;}
    }
  }
  .wealify-chart{
    .name{font-size: 32px; line-height: 1.3;}
    .satus{padding: 6px 16px;}
  }
  .wealify-statistical{
    padding: 60px 0; overflow: hidden;
    &::after{display: none;}
    .title{margin-bottom: 40px; font-size: 36px;}
    .statistical-list{grid-template-columns: repeat(2,1fr);}
  }
  .wealify-advantage{
    padding: 60px 0;
    .title{margin-bottom: 50px;}
    .advantage-list{
      grid-template-columns: repeat(1,1fr); grid-gap: 20px;
      .img{width: 60px;}
      .content{width: calc(100% - 60px);}
    }
  }

  .wealify-intro{
    .content{max-width: 100%;}
    .img-wrapper{max-width: 96%; top: 50px; margin-left: auto; position: relative;}
  }

  .wealify-platform{
    .item{max-width: 100%; padding: 30px 0;}
    .img-wrapper{margin: 30px -20px 0;}
  }

  .wealify-feedback{
    .feedback{
      &__content{
        .text{min-height: auto;}
      }
      &.p-sm{padding: 30px 0 20px 20px;}
      .text{margin-bottom: 40px; line-height: 1.3;}
      h4{margin-bottom: 25px;}
    }
  }
  .wealify-table{
    .title{margin-bottom: 20px;}
  }
  .wealify-about{
    .img-wrapper{
      margin-bottom: 30px;
      img{margin: 0 auto;}
    }

  }
  .wealify-drivers{
    .driver-list{
      grid-template-columns: repeat(1,1fr);
    }
  }
  .wealify-branch{
    .branch-list{grid-template-columns: repeat(1,1fr);}
  }
  .wealify-api-s1{
    padding-top: 55px;
  }
  .wealify-api-s2{
    padding: 60px 0;
    .title{margin-bottom: 30px;}
    .header{margin-bottom: 56px;}
    .statistical{grid-template-columns: repeat(3,1fr);}
  }
  .wealify-api-s3{
    padding: 60px 0;
    .feature{grid-template-columns: repeat(1,1fr); grid-gap: 20px;}
  }
  .wealify-faq-s1{padding: 60px 0;}
  .wealify-news{
    .box-detail{padding-right: 0; border-right: none;}
    .page-title{font-size: 26px; line-height: 34px;}
    .category-list{margin-top: 30px;}
  }

  .mb-md{margin-bottom: 40px;}

  @-webkit-keyframes movie-y{
    0%{transform: translateY(-11px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(-11px);}
  }
  @-webkit-keyframes movie-x{
    0%{transform: translateX(-30px);}
    50%{transform: translateX(0px);}
    100%{transform: translateX(-30px);}
  }
}

@media (max-width: 640px) {
  .wealify-utilities{
    .title{max-width: 255px;}
    .col{flex-basis: auto; margin-bottom: 20px;}
    .item{margin: 0 auto 20px;}
  }
  .wealify-reviews{
    .review-list{
      .author{
        &__img{width: 50px; height: 50px;}
        &__detail{width: calc(100% - 50px);}
      }
    }
  }
  .box-tab{
    padding: 30px 15px;
    .item{padding: 20px 16px;}
    button{height: 44px;}
  }
  .wealify-intro{
    padding-top: 30px;
    h1{margin-bottom: 20px; font-size: 38px; line-height: 1.4; letter-spacing: -1px;}
  }
  .wealify-work{
    .step-list{
      margin-top: 50px;
      &::after{display: none;}
      li{width: 48%; margin-bottom: 30px;}
    }
    .procedure{grid-template-columns: repeat(2,1fr);}
  }
  .wealify-discover{
    &::after{display: none;}
    .item{
      opacity: .2; transition: .3s;
      h3{margin-bottom: 10px;}
      &__img,&__content{max-width: 100%; margin: 0;}
      &__img{transform: translateY(0);}
      &__content{padding-left: 20px;}
    }
    video{margin-top: 0;}
    .slick-track{display: block; flex-direction: column;}
    .slick-slide{height: auto;}

    .slick-current{
      opacity: 1;
      .item__img{display: block;}
      .item__content{padding-left: 0;}
    }
  }
  .wealify-feedback{
    .feedback{padding: 40px 20px;}
    .author{padding-right: 85px;}
    .text{font-size: 24px; line-height: 1.4;}
    .slick-arrow{width: 36px; height: 36px;}
    .slick-prev{right: 42px;}
  }
  .wealify-partners{
    .partner-list{
      flex-wrap: wrap;
      .item{width: 46%; margin: 2%;}
    }
  }

  .wealify-feedback{
    .feedback{
      &__content{width: 100%;}
      &__img{width: 85%; margin: 20px 0 0 auto;}
      .img-wrapper{
        width: 100%; height: 70vw;
        img{border-radius: 20px;}
      }
      .content{width: 100%; padding: 30px 15px;}
    }
  }
  .wealify-daboard{
    .img-daboard{max-width: 90%; margin: 30px auto 0;}
  }
  .wealify-register{
    .form-register{
      input{max-width: calc(100% - 120px); height: 48px;}
      .btn-submit{padding: 14px 10px;}
    }
  }

  .wealify-api-s1{
    .title{font-size: 32px; line-height: 42px;}
    .img-wrapper img{min-height: 50vw; object-fit: cover; object-position: left;}
  }
  .wealify-api-s2{
    .statistical{
      grid-template-columns: repeat(2,1fr);
      .data{font-size: 46px;}
    }
  }
  .wealify-help{
    .question-list{grid-template-columns: repeat(2,1fr); grid-gap: 15px;}
    .tag-list a{margin: 0 8px;}
  }
  .wealify-contact{
    .form-contact{padding: 30px 15px;}
  }

  .wealify-question{
    &::after{background-size: cover; height: 1000px;}
  }
  .wealify-support{
    .container{padding: 50px 16px;}
    .support-list{grid-template-columns: repeat(1,1fr);}
  }
  .wealify-blog{
    &::after{width: 50%; top: 10%;}
    &::before{width: 50%; top: 8%;}
  }
  .wealify-contact{
    &::after,.container::after{width: 50%;}
  }
  .wealify-faqs{
    .faq-list{width: 100%; margin-bottom: 50px;}
    .box-answer{width: 100%;}
    .box-feedback{
      button{padding: 0 15px; margin-left: 10px; height: 40px;}
    }
  }
  .wealify-join{
    .container > .flex-center{flex-direction: column-reverse;}
    .content{max-width: 100%; margin: 0 0 30px 0; text-align: center;}
    .box-btn{justify-content: center;}
    .img-wrapper{width: 45%;}
  }

  .wealify-partner-s1{
    .content{max-width: 100%;}
    .img-wrapper{width: 80%; margin: 0 -15px 0 auto; position: relative; top: 10vw;}
  }
  .wealify-partner-s2{
    .content{display: flex; flex-direction: column-reverse;}
    .feature{
      margin-left: 0;
      >*+*{margin-top: 5vw;}
    }
    .img-wrapper{width: 80%; position: relative; margin: 40px 0 0 -16px;}
  }
  .wealify-partner-s3{
    .item{max-width: 300px;}
    .nav-feedback{margin-top: 40px;}
  }
  .wealify-career-s2{
    .grid{grid-template-columns: repeat(1,1fr); grid-gap: 24px;}
  }
  .wealify-career-s3{
    .job-list{
      li{padding: 20px 16px;}
      h4{width: calc(100% - 90px);}
    }
  }
  .wealify-career-s4{
    .grid{grid-template-columns: repeat(2,1fr); grid-column-gap: 10px;}
    img{max-height: 60px;}
  }
  .wealify-news{
    .box-nav{margin: 40px 0;}
    .tab{
      width: 100%; flex-wrap: nowrap; margin-bottom: 20px; overflow: auto;
      >*+*{margin-left: 20px;}
      a{white-space: nowrap; margin: 5px 0; padding: 0;}
    }
    .box-select{
      margin-left: 0;
      .select-list{right: inherit; left: 0;}
    }
    .news-list{
      grid-template-columns: repeat(1,1fr);
      article{max-width: 370px; margin: 0 auto;}
    }
    .news-hightlight{
      .thumb,.content{width: 100%;}
      .thumb img{width: 100%; border-radius: 15px;}
      h3{font-size: 24px; line-height: 32px;}
    }
  }

  .progress{width: 55%;}

  .faq-category{
    grid-template-columns: repeat(2,1fr); grid-column-gap: 10px;
    a{min-height: 200px;}
    a:nth-child(6) img{max-width: 50px;}
    img{max-width: 60px;}
  }
  .formation{
    h3{padding: 5px 0; font-size: 30px;}
  }
  .box-table{
    table{
      th,td{padding: 12px;}
    }
  }

  footer{
    padding-top: 60px;
    .col-m-4{width: 100%; margin: 0;}
    .col-m-2,.col-m-3{width: 50%; margin: 30px 0 0;}
    .social >*+*{margin-left: 24px;}
    .bottom{
      margin-top: 40px;
      .menu{
        width: 100%; justify-content: center;
        >*+*{margin-left: 18px;}
      }
      .copyright{width: 100%; text-align: center; margin: 15px 0 0;}
    }
  }

  .mb-sm{margin-bottom: 22px;}
  .title{font-size: 32px; line-height: 42px;}

  .txt-md{font-size: 18px;}
  .txt-lg{font-size: 34px; line-height: 46px;}
  .btn-pr{padding-left: 25px; padding-right: 15px;}
}

//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}